[2015-08-18 16:43] alexsilva opened #2 "Create a subdirectory for "zip_entry_open", "zip_extract" does fail"
zip_entry_open(zip, "subdir/foo-1.txt");

zip_extract(zfilename, "/tmp", on_extract_entry, &arg);

result

-1

[2015-08-19 09:57] kuba-- commented on #2
Hi Alex, I've fixed it on master, so please take a look if it works for you.

[2015-08-19 17:32] alexsilva commented on #2
Working now, thanks.

[2015-08-19 17:32] #2 closed

[2016-10-27 21:47] iiiypuk opened #4 "zip_entry_fwrite() replace line break from CRLF to LF"
Subj
[code]
Compiler MSVS 2010

[2016-10-27 21:52] kuba-- commented on #4
Can you give more details about this issue

[2016-10-27 22:01] iiiypuk commented on #4
Sorry. I found the problem.
This is bug `7-Zip File Manager`.
`unzip` and `7z` cli tools unpack right.

[2016-10-27 22:07] #4 closed

[2017-02-07 18:07] karliwson opened #5 "Implement zip_entry_read"
It would be nice to have `zip_entry_read()`. Sometimes we only want to read a single file of an archive, change it and save it back.

I didn't see a simple way to do it.

[2017-02-08 08:19] kuba-- commented on #5
@karliwson - are you talking about API which let you modify archive _in place_?

[2017-02-10 21:21] karliwson commented on #5
@kuba-- No. I'm talking about **reading** a single entry from the archive.

As I understand, we have:

[code]

and:

[code]

So, we can directly modify an entry in the archive.

But what about **reading** a single entry from the archive? That's why I wondered something like `zip_entry_read()`.

[2017-02-10 22:53] kuba-- commented on #5
@karliwson - so far `zip_entry_open` creates a new entry where you can write by `zip_entry_write` or `zip_entry_fwrite`. So, I'm guessing that `zip_entry_read` may extract existing entry into a buffer.

[2017-02-13 16:55] karliwson commented on #5
@kuba-- yes, that's it.

[2017-02-18 23:35] kuba-- commented on #5
@karliwson - I've added `zip_entry_read/fread`. Please take a look if it works for you.
I've also added some examples to the README.

[2017-02-20 15:29] #5 closed

[2017-03-01 23:51] karliwson commented on #5
@kuba-- Great. Thank you very much.

[2017-10-05 15:57] iKlsR opened #11 "Can I add empty directories?"
I don't see anything for that in this wrapper, would have expected `/dir` to work or am I missing something obvious? Great project btw, was strapped for time and had issues with a 55loc dep and miniz was a bit too verbose to grasp quickly.

[2017-10-05 16:24] iKlsR commented on #11
Sorry should have been more specific, I was using `zip_create` which doesn't do this and also doesn't respect directories. `zip_entry_fwrite` creates empty dirs but the format is `dir/`.

[2017-10-05 16:24] #11 closed

[2017-10-11 21:35] kuba-- opened #12 "Make password protected zip files"
TBD

[2017-10-11 21:37] kuba-- commented on #12
Spec.: https://www.loc.gov/preservation/digital/formats/digformatspecs/APPNOTE%2820120901%29_Version_6.3.3.txt

[2017-11-02 12:12] pavel-pimenov opened #13 "zip_entry_open + windows"
zip_entry_open(zip, "EmoPacks/PeerWeb.xml"); - OK

zip_entry_open(zip, "EmoPacks\\PeerWeb.xml"); - Error

bug?

[2017-11-03 11:05] RocksonZeta opened #14 "How can I remove entry from zip?"
see the title!

[2017-11-03 14:18] kuba-- commented on #13
Hey, are you trying to create a new archive or extract existing one?
Because for extracting it may not be related to OS, but how entry was named originally, e.g.: someone created an entry `EmoPacks/PeerWeb.xml` and you're trying to extract `EmoPacks\PeerWeb.xml`.
Anyway, maybe it's not a bad idea to _ignore/force/overwrite_ these separators per OS.
But it has to follow the standard and be compatib

[2017-11-03 14:27] kuba-- commented on #14
Hey, @RocksonZeta - are you trying to remove some entry from existing archive? So far, there is no API which let you do it.
You can find only reads and writes and thanks to open/close region you can merge multiple buffers/files into one entry. In other words the easiest way so far is to rewrite the archive and skip the entry. But if you find `remove` as a useful/nice to have feature I can start th

[2017-11-03 21:32] kuba-- commented on #13
Internally, zip stores forward slashes as required by the zip file specification, but externally it will match what is normally expected on a given platform.

[2017-11-06 00:12] kuba-- commented on #13
@pavel-pimenov I've pushed some changes to the branch:
https://github.com/kuba--/zip/tree/zip_entry_open/fix-13
Could you check if it works for you?
Thanks.

[2017-11-07 15:52] kuba-- commented on #13
the fix has been merged: https://github.com/kuba--/zip/pull/15

[2017-11-07 15:52] #13 closed

[2017-11-09 06:37] pavel-pimenov opened #16 "The 'pZip' pointer was utilized before it was verified against nullptr"
V595 The 'pZip' pointer was utilized before it was verified against nullptr. Check lines: 4424, 4433. miniz.h 4424

![default](https://user-images.githubusercontent.com/920705/32591713-974598c8-c531-11e7-8a79-9f31dcd86305.png)

[2017-11-09 08:46] kuba-- commented on #16
@pavel-pimenov thanks - I've sent a PR: https://github.com/kuba--/zip/pull/17

[2017-11-09 08:48] kuba-- commented on #16
already merged

[2017-11-09 08:48] #16 closed

[2018-01-09 00:12] Sasszem commented on #14
I think now there's no way of updating an entry in a zip file too. This is an important feature missing.

[2018-01-09 06:54] kuba-- commented on #14
Features to implement:
- Delete an entry from a zip archive, e.g.:
`int zip_entry_delete(zip, entryname)` and/or `int zip_entry_deletebyindex(zip, index)`

- Update an entry in a zip archive, e.g.:
We may introduce _update_ mode: `zip_open("foo.zip", 'u')` and/or replace current _append_ by generic one _update_. And then you can _seek_ in an entry to overwrite or append data:
[code]

[2018-01-09 07:22] Sasszem commented on #14
I think the `zip_entry_open` function should take a third parameter - `mode`.

[2018-01-09 07:30] kuba-- commented on #14
@Sasszem why `mode` in `zip_entry_open` ?  I think `mode` works globally on _zip archive_ level.
It will require to open _zip archive_ for existing files in 'r' mode by default. You will also handle situations like - someone created a new arhive and tries to open an entry in 'r' mode.

[2018-01-09 08:23] Sasszem commented on #14
But that would solve the cases when you want to change an entry, append to an entry and so on.

[2018-01-09 11:42] kuba-- commented on #14
@Sasszem - yep so what's wrong if you have `zip_open(filename, 'u')` (on the top level), instead of for each entry?
It would be simpler IMO.

[2018-01-09 12:19] Sasszem commented on #14
You may want to update a single file, creare a new and delete another, then append to a fourth

[2018-01-09 12:29] kuba-- commented on #14
So this is exectly what `zip_open(filename, 'u')` may let you do. For instance, right now if you open in append mode (`zip_open(filename, 'a')`) you'll be able to create a new file in the same archive (append) and read existing archives (it's like a reader extended by writer). In other words, it would be similar + delete  and overwrite in place. Actually we'll only need:
* write - which let you ov

[2018-01-09 14:33] Sasszem commented on #14
Also, the `'u'`mode is not a standard one

[2018-01-09 16:01] Sasszem commented on #14
Oh now I see. That would also do. I would just like  my aplroach better.

[2018-01-10 00:12] kuba-- commented on #14
Yep, `u` is not a standard, but if you check other zip libraries, it's hard to say they follow any standard.
But what is common is _open mode_. For most of them you set up `mode` on global `zip_archive` level (not per entry), e.g.:
PHP: http://php.net/manual/pl/ziparchive.open.php
`ZipArchive::open ( string $filename [, int $flags ] )` , where:
[code]

For .NET/C++: https://msdn.microsoft.com/en-u

[2018-01-14 16:57] ZSaberLv0 opened #26 "unicode file names in zip content?"
does it support unicode files names in zip content?

try to pass some UTF-8 chars as file name, but got wrong file names when opened by other zip tools, won't happen if all file names are ASCII chars

[2018-01-14 20:52] kuba-- commented on #26
@ZSaberLv0 - yes and no. Internally we use standard `char *` type for names (no wchar_t *, etc).
Moreover, in your case other tools may support utf-8 in different ways on different platforms (what happens very often). So if you use the _zip_ library on _unix_ to compress/decompress files it looks pretty ok, e.g.:
[code]

you can see it has extrcted the archive correctly, even if _zipinfo_ prints s

[2018-01-15 02:28] ZSaberLv0 commented on #26
@kuba-- sorry for not fully testing, when compiled under Mac, works fine for zip_extract and Mac's default unzip, but doesn't work for 7-zip under Windows

so, is there anyway to support all zip tools?

[2018-01-15 06:54] kuba-- commented on #26
If everybody follow the same standard then maybe yes, but there is another problem encoding on each operating system. Quoting [this blog](https://marcosc.com/2008/12/zip-files-and-encoding-i-hate-you/):

[2018-01-15 06:57] ZSaberLv0 commented on #26
yeah, after some test, i think there's no platform independent solutions, thanks for the description

[2018-01-15 06:57] #26 closed

[2018-02-20 18:35] pavel-pimenov opened #29 "V547 Expression 'pZip->m_pState' is always true."
https://github.com/kuba--/zip/blob/3c56bbff509cc0cc61156b646e7e19629414a19a/src/miniz.h#L3940

[2018-02-20 18:36] pavel-pimenov opened #30 "V547 Expression '!pFilename' is always false"
https://github.com/kuba--/zip/blob/ddf01314c6d7d2d31a6453bcf09af8e5c15c822d/src/zip.c#L327

[2018-02-20 19:51] kuba-- commented on #30
@pavel-pimenov thanks. PR: https://github.com/kuba--/zip/pull/32

[2018-02-21 01:05] #29 closed

[2018-02-21 01:05] #30 closed

[2018-02-23 12:58] Temtaime commented on #14
Missed entry remove feature forbids me to migrate to this library.
Wanna see it in neat future.

[2018-02-23 22:24] kuba-- commented on #14
@Temtaime - it's on my list, but I'm rather thinking about replacing `append` by some kind of `update` mode for `zip_open`, what will let append but also remove entries.
Similar to .NET:
[code]
I also didn't find any good backward compatible naming convention, but for `updates` the content of the entire archive will be held in memory, until the archive is closed.

[2018-02-23 22:26] Temtaime commented on #14
I think it's bad and only metadata should be stored in memory until it's closed because there can be archives of several gigabytes.

[2018-02-23 23:07] kuba-- commented on #14
@Temtaime - I understand your concerns (btw. this is exectly what .NET does).
I also do not want to create a temporary copy on disk. Metadata (main directory) is already in memory. Imagine that you remove every second entry from archive. Every time you have to shift data, reindex entries and update main directory. Lets imagine you have 3 entries [0, 1, 2] and you want to remove 2 entries.
- Could

[2018-02-24 10:15] Temtaime commented on #14
Of course, entry #1 can be removed twice. Entry count must be decreased. Is zip structure really needs to shift the data? Maybe we can leave the data as it is with gaps, so the archive will be actually like file was not removed(remove it only from metadata, leaving wasted space). And then we can add function like "repack" to shift data and minimize the size of archive.
Also i don't see any reasons

[2018-03-02 15:16] pavel-pimenov opened #33 "PVS-Studio analysis results"
Report:
http://www.fly-server.ru/pvs-studio/zip/

[2018-03-02 23:51] kuba-- commented on #33
The goal is to fix at least _General Analysis_ potential issue.

[2018-03-03 20:39] kuba-- commented on #33
https://github.com/kuba--/zip/pull/34

[2018-03-05 03:51] JimHokanson opened #35 "supply buffer to read function"
I'm working with a memory managed system (Matlab) and was wondering if it would be possible to have the following functions:

1. extern size_t *zip_entry_size(struct zip_t *zip) - return the # of bytes of the current entry
2. extern int zip_entry_read2(struct zip_t *zip, void *buf, size_t bufsize) -User passes in the buffer, the bufsize here is the size of the input buffer ...

The alternative, wh

[2018-03-05 11:32] kuba-- commented on #35
@JimHokanson - regarding the first function it's not a problem (I also thought about more generic function `zip_entry_stats` which will return more details like compressed and uncompressed size etc.).
Regarding the `zip_entry_read2`. We have `extern int zip_entry_read(struct zip_t *zip, void **buf, size_t *bufsize);` which allocates buffer for you. So, if I understand correctly you want to allocat

[2018-03-05 16:06] JimHokanson commented on #35
Great suggestion with the stats!

I hadn't been thinking the same way as you with `zip_entry_nread`, but that seems useful as well. This of course could be generalized to reading from start to stop bytes (or start and length).

Anything I return to the user has to come from managed memory, so my current code would need to be something like:

[code]

This isn't the end of the world although it does

[2018-03-05 22:45] kuba-- commented on #33
No zip64 support yet

[2018-03-06 10:15] kuba-- commented on #35
@JimHokanson check this: https://github.com/kuba--/zip/pull/37 out
I've decided to add two new functions:
[code]
to be consistent with what we have so far (`zip_entry_name, zip_entry_index, zip_entry_isdir, ...`)

[2018-03-06 14:41] JimHokanson commented on #35
Great! At this point what are your thoughts on the second part regarding having the user allocate the memory?

[2018-03-06 18:52] kuba-- commented on #35
@JimHokanson - the second part will come in next PR, soon.
Most likely the signature will be sth. like:
[code]
or
[code]

[2018-03-06 19:47] JimHokanson commented on #35
Either would be fine. My first instinct was for the second but I think the first could be useful. The first however conflates the functionality of no allocation with the feature of only reading a subset of the data. So for example, why can't I read n bytes that the function allocates.

Also to generalize more, I was thinking it would be better to specify a start and length, rather than just the nu

[2018-03-06 23:13] kuba-- commented on #35
PR: https://github.com/kuba--/zip/pull/38
[code]

[2018-03-07 13:05] kuba-- commented on #35
@JimHokanson - it's already been merged into the master

[2018-03-07 22:35] kuba-- commented on #35
@JimHokanson - I hope it works for you. Later we can extend API

[2018-03-08 20:05] kuba-- commented on #35
@JimHokanson - it's fixed (sorry about that, I forgot about recently added `zip_entry_openbyindex`).
I also fixed the example (it was copy-paste from test). Yep, for binary data extra NULL does not matter.

[2018-03-10 10:39] #35 closed

[2018-03-11 23:40] kuba-- commented on #33
@pavel-pimenov - thanks, couple things were fixed. You can re-run  pvs again.
Right now I'm closing this issue (added clang's analyzer to a build), but I'll keep the link as a reference. So far no zip64 support.

[2018-03-11 23:40] #33 closed

[2018-03-12 08:09] webfolderio opened #39 "UTF8 File Name Support on Windows Platform"
Hi,

On windows platform non-ascii file names created incorrectly.
miniz use fopen_s and freopen_s to create and redirect the pre-opened files.
It might be better to use _wfopen_s and _wfreopen_s methods which supports wchar.

Also zip.c (line 548)  use fopen to read files. Its better to replace it with _wfopen_s

Thanks

[2018-03-12 23:50] kuba-- commented on #39
@webfolderio - `zip` is a platform independent library so we have to figure out a general solution. Moreover `wchar_t` will not solve the problem because many _zip_ tools/libraries implement unicode differently for each OS. Also please, take a look here: https://github.com/kuba--/zip/issues/26 where we had a short discussion with @ZSaberLv0 about _unicode file names in zip content_. There is a lin

[2018-03-13 02:18] JimHokanson commented on #35
Yeah, sorry it took me a bit to test it. I can confirm the functionality now works as expected, thanks.

[2018-04-16 16:00] #12 closed

[2018-04-16 16:00] #39 closed

[2018-06-01 01:07] FeibiaoChen opened #40 "How to add a folder into zip"
Hi,
I have a case which needs compress some regular files and a folder with  some other regular files into a zip. Is there anyway to compress a folder into zip with this library.

Many thanks!

[2018-06-01 06:16] FeibiaoChen commented on #40
This question has been resolved.
Use zip_entry_open(zip, _**relativePathInZip**_)); can make releative folder.

[2018-06-04 08:38] #40 closed

[2018-06-22 00:39] PetersSharp opened #41 "Lite fix for MSVS/MSVC."
Remove deprecated function.
see: https://github.com/PetersSharp/zip/blob/master/src/zip.c

[2018-06-22 09:36] kuba-- commented on #41
@PetersSharp - I've created a PR based on your fork (https://github.com/kuba--/zip/pull/42).
Please take a look on my comments. Also builds are failing.

[2018-07-30 15:05] kappaOne opened #44 "Preserve File Permissions"
The ZIP file format stores the file permissions for each of its entries as set on platforms such as linux and mac (i.e. whether a file is executable, etc). However when extracting files with this library it appears that the permissions are not set correctly on the extracted files. So if you zip up an executable file it will not be executable when extracted with this library however if the same zip

[2018-07-30 16:32] kuba-- commented on #44
@kappaOne - thanks, I'll take a look and hopefully fix it soon.

[2018-08-01 07:37] kuba-- commented on #44
@kappaOne - yup, files attributes support should be done as a `external_attr` convention. However _miniz_ doesn't set any attributes (external and internal, except `0x10` for dirs.). If you try any _zipinfo_ tool you can notice sth. like this:
[code]

I don't know which third-party tools diid you use to extract files, but regular `unzip` doesn't set up any file attributes, so whatever I compress w

[2018-08-01 12:30] kuba-- commented on #44
@kappaOne - I tested on osx (so no windows, so far) and your fix clears all attributes (as I mentioned above) because for this library external attribute is always 0 for files.
Your fix may work if you compress a file with other tool.

[2018-08-01 13:40] kappaOne commented on #44
Ah right, your compressing files using the library first. I've only used it to decompress files using the zip_extract() function. An example file I was using was the Zulu VM found [here](https://cdn.azul.com/zulu/bin/zulu8.30.0.1-jdk8.0.172-macosx_x64.zip). You will note the bin folder therein contains executable files, which when extracted without the above fix are not extracted as executable but

[2018-08-01 15:22] hgardneriv opened #46 "Issue generating zip windows MSYS"
I'm having trouble with a simple example under Windows using MSYS2 where the same example works fine under cygwin and Mac. Here's the code:

#include <iostream>
#include "zip.h"

using namespace std;

int main (int argc, char **argv)
{
    cout << "Generating zip..." << endl;

    struct zip_t *zip = zip_open("foo.zip", ZIP_DEFAULT_COMPRESSION_LEVEL, 'w');
    {
        zip_entry_open(zip, "bufWri

[2018-08-01 19:01] kuba-- commented on #46
@hgardneriv - does `make test` work for you?

[2018-08-01 20:58] kuba-- commented on #46
Could you try to add in `zip.c`:
`|| defined(__MINGW64__)` everywhere where you notice `defined(_MSC_VER)`
(right now I do not have windows environment with mingw to test it out), thanks.

[2018-08-01 21:12] hgardneriv commented on #46
Nice work, that fixes the issue!

# make test
Running tests...
Test project C:/code/zip/build
    Start 1: test
1/1 Test #1: test .............................   Passed    0.01 sec

100% tests passed, 0 tests failed out of 1

Total Test time (real) =   0.01 sec

[2018-08-01 21:33] kuba-- commented on #46
Cool! Could you send a PR or at least diff/patch?

[2018-08-01 21:42] hgardneriv commented on #46
See changes attached:

[zip.c.txt](https://github.com/kuba--/zip/files/2251221/zip.c.txt)

[2018-08-01 21:56] #46 closed

[2018-08-06 11:43] visiwi opened #49 "sfx"
Hello,
Is there a way to unzip sfx archive ?

[2018-08-06 20:50] kuba-- commented on #49
@visiwi - unfortunatelly no - just regular `zip`:

[2018-08-06 20:50] #49 closed

[2018-08-06 20:59] #44 closed

[2018-08-06 21:01] kuba-- commented on #44
@kappaOne - I've merged some solution into the master (extracting/chmod in pure C makes sense on UNIX-like systems), so please take a look if it works for you.
If not, please ope this issue or create a new one.

[2018-08-06 22:42] kappaOne commented on #44
@kuba-- just tested your fix, works brilliantly for me.

thx for the fix, much appreciated.

[2018-08-07 08:14] shLuckyCode opened #50 "fopen_s return is error"
https://msdn.microsoft.com/en-us/library/z5hh6ee9.aspx

fopen_s Return Value
Zero if successful; an error code on failure. See errno, _doserrno, _sys_errlist, and _sys_nerr for more information about these error codes.

in **zip_entry_fwrite** function:

#if defined(_MSC_VER) || defined(__MINGW64__)
  if (!fopen_s(&stream, filename, "rb"))
#else
  if (!(stream = fopen(filename, "rb")))
#endif
  {

[2018-08-07 09:57] #50 closed

[2018-08-07 09:58] kuba-- commented on #50
@shLuckyCode - I've merged a fix into the master. PTAL if it works for you.

[2018-08-19 05:54] drizt opened #56 "Linking error with MinGW 4.8.2"
Here I just copied my question from [StackOverflow](https://stackoverflow.com/questions/51914879/how-to-link-against-inline-functions-in-mingw-gcc).

I need to compile some library (kuba zip) with MinGW 4.8.2. I got linking error.

    [2/2 12.0/sec] Linking C executable test\test.exe.exe
    FAILED: test/test.exe.exe
    cmd.exe /C "cd . && C:\mingw32\bin\gcc.exe  -std=c99 -Wall -Wextra -pedantic

[2018-08-19 06:58] drizt opened #57 "Check localtime_s"
See [this](https://github.com/kuba--/zip/blob/master/src/zip.c#L435). `#define`'s look strange. Furthemore miniz just [check](https://github.com/kuba--/zip/blob/master/src/miniz.h#L4317) only for `_MSC_VER`. I don't sure that `localtime_s` return zero on successful with `__MINGW64__`.

[2018-08-19 07:13] drizt commented on #57
miniz [checks](https://github.com/kuba--/zip/blob/master/src/miniz.h#L4317) only for `_MSC_VER`. Probably it will be enough good solution to do the same.

[2018-08-19 07:26] drizt commented on #57
P.S. MinGW seems has `_localtime32_s` and `_localtime64_s`. Maybe this can/should be used directly.

[2018-08-19 09:38] kuba-- commented on #57
@drizt - look at:
https://github.com/kuba--/zip/issues/46
https://github.com/kuba--/zip/pull/47/files

This extra `define` was introduced to fix compilation for _mingw_

[2018-08-19 10:29] drizt commented on #57
Hm. I see. Maybe `__MINGW64__` can be replaced with `__MINGW32__`

[2018-08-19 10:37] drizt commented on #57
What about [this](https://github.com/kuba--/zip/blob/master/src/zip.c#L440) line? Seems here you tried to use [another](https://en.cppreference.com/w/c/chrono/localtime) `localtime_s` which returns `tm*` get `time_t*` as first argument and `tm*` as second.

[2018-08-19 10:41] kuba-- commented on #57
Generally we had a distinction between MSVC compiler and other compilers on windows (+Unix), but turned out that for MSYS2 works the same case as for MSVC, so the quickest fix was to add extra _MINGW_ define everywhere where we have MSVC.

[2018-08-19 11:29] drizt commented on #57
Maybe `!` should be removed then from 440 line.

[2018-08-19 15:45] drizt opened #59 "test_file_permissions failed"
Compile with

[code]

[code]

Problem with 4.txt it open only for reading and remove function seems doesn't actually delete this opened file.

[2018-08-19 17:34] drizt opened #62 "warning: dereferencing type-punned pointer"
Some extra warnings with MinGW 4.9.2

[code]

[2018-08-20 04:27] drizt commented on #62
See [this line](https://github.com/kuba--/zip/blob/master/src/miniz.h#L3181). `TDEFL_READ_UNALIGNED_WORD` in most cases is used for `mz_uint16*` type. So in such cases `TDEFL_READ_UNALIGNED_WORD` can be replaced with `*`. In other cases when `TDEFL_READ_UNALIGNED_WORD` is used for `mz_uint8*` macro can be rewritten as `#define TDEFL_READ_UNALIGNED_WORD(p) ((p)[0] | (p)[1] << 8)`.

[2018-08-20 09:05] #62 closed

[2018-08-20 11:34] kuba-- commented on #56
What if we add following flags to MSYS2 compilation:
[code]

Will that work for you?

[2018-08-20 12:25] kuba-- commented on #57
if we gonna follow standard `NULL` is on error. Btw check: https://github.com/kuba--/zip/pull/66

[2018-08-20 14:30] #59 closed

[2018-08-20 14:43] kuba-- commented on #57
I've updated https://github.com/kuba--/zip/pull/66
I think I'll stick to standard otherwise it will be always "crazy mental gymnastics"

[2018-08-20 19:01] #56 closed

[2018-08-20 19:02] #57 closed

[2018-08-21 13:08] drizt commented on #57
Checked on Windows with MinGW 4.8.2, 4.9.2 and 5.3.0. Now no any problems. All tests passed. No compilation warnings/errors.

Thanks!

[2018-09-02 14:03] shinobisoft commented on #49
@kuba-- I realize this has been closed, but I'm compelled to comment... You do realize most sfx's are binary executables with zip archives appended to them. This doesn't apply for all as I have seen the zip archive stored as a resource to the binary, but only on Windows systems. I wrote a wrapper around minizip a few years ago for a scripting language. Part of my wrapper creates sfx's... I wrote t

[2018-09-20 09:49] energy6x6 opened #74 "Files have creating time same with zip time"
Thank you, and respect you for simple source.
The source has one problem:
when I have added files to archive, files time changed to now.

[2018-09-20 10:11] kuba-- commented on #74
@energy6x6 - yes, right now it's kind of simplification, but if you rely on this then I'll try to fix it and get time from a file.

[2018-09-20 10:14] energy6x6 commented on #74
It will be great :)

[2018-09-21 05:07] KristupasSavickas opened #75 "zip_entry_noallocread() should return amount of bytes read"
`zip_entry_noallocread()` should return the amount of bytes read, just like the `read()` syscall. If this gets implemented, a return type of `ssize_t` might be more appropriate.

[2018-09-21 06:49] kuba-- commented on #75
@KristupasSavickas - ok, makes sense for read functions. I'll change it to:

[2018-09-21 10:14] KristupasSavickas commented on #75
Would it be possible to only read `bufsize` amount of bites and maybe even specify an offset so that files could be read in parts?

[2018-09-30 11:45] #74 closed

[2018-10-01 14:52] kuba-- commented on #75
@KristupasSavickas - I dived into `tinfl_decompress` function. For `zip_entry_noallocread` we need to first read a compressed stream and decompress it.
So we read _N_ bytes (max 64K) and then decompress, but it's hard to predict what size will be the output. Moreover not to loose to much memory output buffer's size should be a power of 2.
So that's why `zip_entry_noallocread` requires a buffer as

[2018-10-01 18:20] kuba-- commented on #75
@KristupasSavickas - some silly prototype you can find here: https://github.com/kuba--/zip/pull/77
Please let me know if it works for you, so can add similar function.

[2018-10-02 21:11] #75 closed

[2018-10-11 20:53] dsula opened #81 "max zip entries"
Hi,

I discovered that the maximum number of entries in a zip file is 65535.
Any chance that this limitation could be increased?

Cheers
ds

[2018-10-11 21:09] dsula commented on #81
Browsing thru zip.c I see code like that:

 // no zip64 support yet
  if ((pzip->m_total_files == 0xFFFF)

Is > 64k entries considered zip64 support?

Cheers

[2018-10-11 22:41] kuba-- commented on #81
@dsula - kind of.. (some zip64 extensions support more than 64K entries):

[2018-10-22 16:19] BrianBotina opened #83 "Unzip a file"
Hello, when I try to uncompress a file in a dir on windows. I have the next problem.
Cannot convert 'int (* (_closure )(const char *,void *))(const char *,void *)' to 'int (*)(const char *,void *)'
I only use the steps in the help.

[2018-10-22 17:56] kuba-- commented on #83
@BrianBotina - could you send a code snippet which you use? And what compiler do you use?

[2018-10-25 21:16] iKlsR opened #85 "zip_extract doesn't work if not on main OS drive?"
I'm using this lib in a Qt app and everything works as expected until I move the app to another drive. This line of code works as expected if the application resides on C *(the main drive where the OS is installed)*. Moving it to somewhere like F and nothing gets extracted.

    zip_extract(input_filename, temporary_dir, nullptr, nullptr);

In my test case, `input_filename` is also on C and `tempo

[2018-10-26 21:18] kuba-- commented on #83
@BrianBotina - do you still have any issues?
What example did you try?
[code]

[2018-10-26 21:57] kuba-- commented on #85
@iKlsR is F a regular disk or just `subst` ?

[2018-10-27 01:19] iKlsR commented on #85
F is a regular disk. Zip was compressed with this lib. Input filename would be something like `C:/Users/me/file.zip`, temporary dir is `C:/Users/Appdata/Local/Temp/some_dir/`, so yes they always contain the full absolute path.

[2018-10-27 22:53] #83 closed

[2018-10-29 19:17] kuba-- commented on #85
@iKlsR - I couldn't reproduce it. Following code I ran from `F:\` and it worked for me.
I also tried to compress/decompress files from `F` drive by running from `C` and it worked as expected.

[code]

Could you try to debug which line returns an error (-1) or any errno?

[2018-10-29 19:19] iKlsR commented on #85
Sure, i'll run through again and get back to you. Thanks.

[2018-10-29 19:59] iKlsR commented on #85
I tried your example standalone and in my app function substituting the paths. Both times, `my.zip` is created with the text file. However, if I run the app from my `C:\` drive it works as expected but the moment I copy it to `F:\` and run it, `zip_extract` returns `-1`. Happens on my desktop here and laptop as well. Most peculiar.

Using your return line hint as a cue, I dropped in some printfs a

[2018-10-29 20:05] iKlsR commented on #85
Not sure how useful this is, here is the me after stepping over the strncpy line. https://i.imgur.com/vGrE54V.png

[2018-10-29 21:02] kuba-- commented on #85
So the only place where it may happen is `_mkdir(DIRNAME)`. Could you try to catch what this MSVC function returns in your case (https://msdn.microsoft.com/en-us/library/2fkk4dzw.aspx)

[2018-10-29 23:20] iKlsR commented on #85
Both work on `C:\` and `F:\` returning 0, -1 if the dir already exists.

[2018-10-29 23:31] kuba-- commented on #85
Ok, so in our case it should return -1 (because dir already exists but `_mkdir` didn't set `EEXIST` errno. Try following code which is used to make a path.

[code]

[2018-10-29 23:39] iKlsR commented on #85
Adding

    #include <windows.h>
    #include <direct.h>
    #define ISSLASH(C) ((C) == '/' || (C) == '\\')
    #define MKDIR(DIRNAME) _mkdir(DIRNAME)

I get `-1` if ran from `F:\`, from `C:\` I get `0` but nothing is created. I tried both path separators and running as admin. Same results.

[2018-10-29 23:45] iKlsR commented on #85
Actually, trying again, it works on `C:\` but only if I append an extra `/` and use linux style separator. ie - `C:/Users/iKlsR/Deskktop/folder/`..

[2018-10-29 23:53] kuba-- commented on #85
hmm, so maybe in your case it didn't jump into ifdef:
[code]

[2018-10-30 00:07] iKlsR commented on #85
@kuba-- Same results. heh.

[2018-10-30 00:15] kuba-- commented on #85
Weird - maybe some `memset` was missed (I've updated master by replacing new {0} syntax by memsets).

[2018-10-30 01:06] kuba-- commented on #85
Chdir - no. We just make a path and fopen.
What if you skip the mkpath error and move on (if folder already exists then it should be able to extract it)

[2018-10-30 01:19] iKlsR commented on #85
That won't work because I have folders in my zips. It works for a flat layout but folders are ignored.

[2018-10-30 01:37] iKlsR commented on #85
Hmm, I'm not sure there's anything I can do about that using the current api so it would be an actual bug then of sorts? Can you try on your end with a layout like this.

    +-- file.txt
    +-- folder
          +-- otherfile.txt

[2018-10-30 21:32] kuba-- commented on #85
@iKlsR - I mean following code works fine:
[code]
But if you name the entry like: `zip_entry_open(zip, "c:\\folder\\otherfile.txt");` then it won't be extracted on `F:`.

[2018-10-30 21:56] iKlsR commented on #85
@kuba-- That code above doesn't work on any of my systems. I'm on a clean machine now and I still get -1, if I comment the mkpath in zip.c it extracts the file but not the folder. This happens if i'm on C drive or F drive.

I'm just going to count this as a loss and try something else because I need this. Thanks for your time! :)

[2018-10-30 22:01] kuba-- commented on #85
OK, I was able to reproduce it -  I found a bug in the mkpath code on windows.

[2018-10-30 22:24] iKlsR commented on #85
@kuba-- Yes, fixed! 😁 Thanks.

[2018-12-24 06:04] sukhchainn opened #88 "configuration failed!"
When I tried to build cmake files I got this error

[code]

I have GCC compiler set in my environment variables, tell me how to set CC and CXX paths in environment variables.
I'm a troubled noob, please help me.

[2018-12-24 08:49] sukhchainn commented on #88
The build is failing. first it showed me that cl is undeclared and when I manually inserted everything it still gives me an error.

[code]

Help me!

[2018-12-24 11:40] kuba-- commented on #88
@sukhchainn if you want to use gcc (mingw) on windows, try following scenario:
[code]

cmake generatse makefiles for per OS, per compiler. If you don't want to use the default ones, you have to specify which one.

[2018-12-24 11:42] kuba-- commented on #88
See how we build and test it on windows: `https://github.com/kuba--/zip/blob/master/appveyor.yml`

[2018-12-25 12:07] sukhchainn commented on #88
Thanks....

On Dec 24, 2018 5:12 PM, "Kuba Podgórski" <notifications@github.com> wrote:

See how we build and test it on windows: https://github.com/kuba--/zip/
blob/master/appveyor.yml

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub
<https://github.com/kuba--/zip/issues/88#issuecomment-449723773>, or mute
the thread
<https://github.com/notific

[2018-12-25 13:43] #88 closed

[2018-12-29 12:12] sukhchainn commented on #88
makefiles were generated but what do I need to make object file?
Log is below.

[code]

[2018-12-29 12:14] sukhchainn opened #89 "TDM gcc support"
@kuba--
makefiles were generated but what do I need to make object file?
Log is below.
[code]

[2018-12-29 22:44] kuba-- commented on #89
What environment and compiler do you use?
For a test try to change in `miniz.h` (https://github.com/kuba--/zip/blob/master/src/miniz.h#L4083) `ftello64` to `ftell` and `fseeko64` to `fseek`.

[2018-12-30 07:06] sukhchainn commented on #89
I'm using KDM MinGW GCC compiler in windows 7, Git-Bash.
I have MSYS2 installed too.
I have MinGW32 full suit installed.

Do I need Visual Studio too?

On Dec 30, 2018 4:14 AM, "Kuba Podgórski" <notifications@github.com> wrote:

What environment and compiler do you use?
For a test try to change in miniz.h (https://github.com/kuba--/
zip/blob/master/src/miniz.h#L4083) ftello64 to ftell and fseeko64

[2018-12-31 13:33] kuba-- commented on #89
@sukhchainn - I've tried following scenario on my VirtualBox with windows 7:
- Installed mingw: https://sourceforge.net/projects/mingw-w64/
- Installed cmake: https://github.com/Kitware/CMake/releases/download/v3.12.4/cmake-3.12.4-win32-x86.msi

In mingw console:
[code]
If cmake fails complaining about `sh` command, just run it the second time and it will generate mingw makefiles.
After that I jus

[2018-12-31 13:34] kuba-- commented on #89
No, you don't need Visual Studio. You need to generate makefiles (or project files) per compiler/platform.

[2018-12-31 14:15] sukhchainn commented on #89
@kuba--
Still giving some errors.

$ make
[ 14%] Building C object CMakeFiles/zip.dir/src/zip.c.obj
In file included from C:\Users\Dell\Desktop\zip-master\src\zip.c:40:0:
C:\Users\Dell\Desktop\zip-master\src\zip.h:24:15: error: conflicting types for 'ssize_t'
 typedef long  ssize_t;  /* byte count or error */
               ^
In file included from I:/TDM-GCC-32/include/sys/stat.h:24:0,

[2018-12-31 22:54] kuba-- commented on #89
@sukhchainn - ok I was able to reproduce it. It's a problem with TDM. If you use pure mingw the problem disappears.
I will take a look what has to be defined/undefined to support TDM flavour of gcc.

[2019-01-01 08:53] sukhchainn commented on #89
when I tried with codeblocks's MinGW

[code]

[2019-01-01 16:47] kuba-- commented on #89
Why don't you try regular mingw (https://sourceforge.net/projects/mingw-w64/).
*TDM* breaks compatibility. It defines `__MINGW32__` macro but doesn't implement or defines different macros. For instance instead of `_SSIZE_T` it defines `_SSIZE_T_`. Also it doesn't implement `strncpy_s`, `fopen_s`.

[2019-01-01 17:03] kuba-- commented on #89
@sukhchainn - I've pushed some experimental changes to support TDM-GCC.
Checkout this branch: https://github.com/kuba--/zip/tree/tdm-gcc
I was able to compile and test it on TDM-GCC 32. I hope it won't break anything for pure mingw.

[2019-01-06 22:49] #89 closed

[2019-01-13 11:53] sukhchainn commented on #89
when I tried with GNU MinGW
[code]

[2019-01-13 12:17] sukhchainn commented on #89
Sorry, the problem was in make.
I was using a make from different compiler. That was the problem.

The TDM now generates the object files and executables.

[2019-01-29 10:58] ForgottenTales opened #92 "zip_entry_fwrite(zip, "foo-2.1.txt") fails for big sizes"
Writing a zip archive fails when trying to zip big files.

When running in Debug, i get this assertion:
miniz.h:3025: tdefl_compress_lz_codes: Assertion `d->m_huff_code_sizes[1][sym]' failed.

[2019-01-29 10:59] kuba-- commented on #92
@ForgottenTales - how big is "big"?

[2019-01-29 11:02] ForgottenTales commented on #92
Its about 30mb, but the software is running on a very limited (embedded) system. Im not sure how the library does the writing internally, maybe it tries allocate buffers that are to big ?

[2019-01-29 11:20] ForgottenTales commented on #92
Im trying to zip the files as follows:

        char* tmp_path = "/tmp/logs.tmp.zip";
        struct zip_t *zip = zip_open(tmp_path, ZIP_DEFAULT_COMPRESSION_LEVEL, 'w');
		{
			for (size_t i = 0; i < number_of_files; i++) {
				if (cfileexists(file_paths[i])) {
					DBGLOG("checking file: %s - file exists", file_paths[i]);
					zip_entry_open(zip, file_paths[i]);
					{
						zip_entry_fwrite(zip,

[2019-01-29 11:37] kuba-- commented on #92
Maybe this is the case, because right now I tried and was able to `fwrite` 64MB file.

[2019-01-29 11:44] ForgottenTales commented on #92
@kuba-- First of all, Thanks for your quick reply. I will do a bit more testing with various file sizes and other compression levels. Maybe i can figure out what causes this strange behavior. I will let you now about my results here.

[2019-01-29 22:20] Nullious commented on #14
ability to delete or overwrite a file inside the archive is a much needed feature.
currently I'm testing writing a settings file into a pre-existing zip for my app, I end up with many copies of the same file inside the zip, so i either need to open the "latest" one, or overwrite the file. obviously delete -> write would be fine too.
searching for the latest one is a cludge and if you open the zip

[2019-02-01 09:05] ForgottenTales commented on #92
@kuba-- Hey there. I solved the problem. There was no problem with the zip library, it was a strange behavior of the OS when handling the temporary storage. So I will close this issue. Thank you !

[2019-02-01 10:51] ForgottenTales commented on #92
Im sorry for the confusion, but I have to reopen the issue. The problem is still there.

The problem appears on system architectures that **do not** fit this criteria:

#if MINIZ_USE_UNALIGNED_LOADS_AND_STORES && MINIZ_LITTLE_ENDIAN && MINIZ_HAS_64BIT_REGISTERS

Only in DEBUG mode,  the assertion in miniz.h line 3025 fails:
miniz.h:3025: tdefl_compress_lz_codes: Assertion `d->m_huff_code_sizes[1][

[2019-02-05 14:50] kuba-- commented on #92
@ForgottenTales - I was able to compress 64MB files on my arm RPi3 (GCC 6.3) with compression levels 6 and 9. I didn't encounter any issues (`d->m_huff_code_sizes[1][sym]` never was `0`).
On what architecture did you test? Can you add some `println` to debug/check where it comes from.
Maybe this _assert_ is not needed (just nothing will be written for certain symbols and we move on).

[2019-02-06 09:02] ForgottenTales commented on #92
Hi @kuba-- Im testing it on a Microblaze architecture (softcore processor), running an 32 bit Petalinux.

Microblaze: https://www.xilinx.com/products/design-tools/microblaze.html

I will do some debugging later and give you more information about the problem.

[2019-02-06 09:05] kuba-- commented on #92
Ok, cool. Thanks!
Btw. I'm curious - where are you going to use it?

[2019-02-11 12:02] ClearSeve opened #93 "hava miniz.c file?"

[2019-02-11 12:50] kuba-- commented on #93
@ClearSeve - for include convenience I combined all in one `.h`. But if you are interested in miniz implementation take a look here: https://github.com/richgel999/miniz

[2019-02-11 13:40] ClearSeve commented on #93
Thank man

[2019-02-11 13:40] #93 closed

[2019-02-21 14:22] ForgottenTales commented on #92
Hi @kuba-- sry for the late reply. I tested it again. And I am now quite sure that the mentioned assertion can just be removed. And then everything works as intended. I didnt track it down whats the reason behind this, somehow d->m_huff_code_sizes[1][sym] is 0, but its running for a long time now already (without the assertion). Very stable.

The Software is used in an hardware similar to a switch

[2019-02-21 14:37] kuba-- commented on #92
OK, would you mind opening PR?

[2019-02-21 15:04] ForgottenTales commented on #92
yeah sure!

[2019-02-21 16:34] MXWXZ opened #94 "miniz.h upgrade"
I found the miniz.h now we are using is v1.15, it's too old and may have bugs (newest version is 2.0.8).

Do we have a plan to upgrade it? Or, is it safe that I just upgrade the miniz.h without changing any codes in  zip.h?

It changes from v1.x to v2.x so I want to confirm. I'm not familiar with zlib & miniz low-level API :(
But this library is ez to use.

[2019-02-21 19:19] kuba-- commented on #94
@MXWXZ - to keep super simple API, I had to hack the `miniz` a little bit. Also as you can see I've minimized it.
In other words, it to upgrade `miniz` it's not just copy-pasting new files.
So far, it was easier to fix bugs in local copy instead of relying on 3rd party.

Is there any feature which you really need and it's not in the current version of miniz?
Of course, you can try to upgrade and s

[2019-02-22 06:34] MXWXZ commented on #94
OK, I just wonder if there are some potential bugs in the current version (It works well so far).
Anyway, thanks for the work to simplify the API 👍

[2019-02-22 08:07] kuba-- commented on #94
@MXWXZ - I went briefly through changes and I don't see any significant bug fixes. The main change in ver 2.X is a new API `_v2`.
If you are OK with this, we may close this issue.

Btw. I'm getting feedback, so I'm curious, where/how do you use this library ;-)

[2019-02-22 08:13] MXWXZ commented on #94
Oh I'm writting a program on my Raspberry Pi, zlib is too complex to use and other library I found could only work on Windows or too heavy...
This repo is light-weighted so I like it :)

[2019-02-22 15:53] ForgottenTales commented on #92
@kuba-- i created a local branch and applied the fix. but I get denied to push the branch upstream. How to do it? Sry, I am not familiar with github.

[2019-02-22 16:45] kuba-- commented on #92
you have to fork the repo and send pr across forks

[2019-02-24 22:00] #94 closed

[2019-02-25 09:35] #92 closed

[2019-03-27 15:03] Cgettys opened #97 "miniz.h bugfix"
miniz currently does not support x86 compilers that disallow unaligned loads and stores. As a result, neither does this wonderful library :). I've opened a pull request (richgel999/miniz#124) to fix the missing guard upstream. Since you have a modified copy of miniz.h, I'm going to open a pull request to add that fix to your version as well.

[2019-03-27 15:48] #97 closed

[2019-04-24 18:37] drizt opened #100 "File hasn't read access after unpacking"
I use `zip_entry_write` to write data to archive. Such unpacked file has no any access. On Linux it's a problem when working in console. So need a way to manually set `zip->entry.external_attr`.

[2019-04-26 23:56] #100 closed

[2019-05-13 10:09] maxsupermanhd opened #104 "How can i check for already opened entry?"

[2019-05-13 10:51] kuba-- commented on #104
@maxsupermanhd right now there is no _intuitive_ way e.g. _is_opened_ function, but as a trick/workaround you can use `const char *zip_entry_name(struct zip_t *zip);` function.
If an entry was closed (or not opened) this function should return `NULL`

[2019-05-14 10:12] kuba-- commented on #104
@maxsupermanhd - does it work for you?

[2019-05-16 14:48] kuba-- commented on #104
@maxsupermanhd ?

[2019-05-17 09:08] #104 closed

[2019-06-21 12:56] maxsupermanhd opened #107 "Error opening zip file"
[10c-AllyToAlly-7e1e4457e81e95ffa5993e3f6ba484ac0ee2625729dfc85a5e48aeecaea1bb61.zip](https://github.com/kuba--/zip/files/3314543/10c-AllyToAlly-7e1e4457e81e95ffa5993e3f6ba484ac0ee2625729dfc85a5e48aeecaea1bb61.zip)
![image](https://user-images.githubusercontent.com/20772987/59923919-3f741980-943d-11e9-89b5-de14ab8181a1.png)

[2019-06-21 13:45] kuba-- commented on #107
I'll take a look, maybe it's a _backslash_ thingy. What tool did you use to compress it? Because zip format/standard requires `/` separators as entries names.

[2019-06-21 15:09] sukhchainn commented on #107
corrupted zip file.

Did he used zip library to compress it?

On Fri, 21 Jun, 2019, 7:15 PM Kuba Podgórski, <notifications@github.com>
wrote:

[2019-06-21 17:42] maxsupermanhd commented on #107
Its Warzone2100 map format.
Backslashes works with other zips.
File not corrupted and had .wz extension and renamed to .zip for github.
I think bc of 3.55 compression raito.

[2019-06-21 17:44] maxsupermanhd commented on #107
For some reason look into my project. May be im doing something wrong...
https://github.com/maxsupermanhd/WMT

[2019-06-21 22:35] kuba-- commented on #107
It fails in line: https://github.com/kuba--/zip/blob/master/src/miniz.h#L4591
for following `if`:
[code]
because `decomp_size` and `comp_size` are equal `0xFFFFFFFF`

[2019-06-21 22:46] kuba-- commented on #107
and if you take a look into central directory of the zip file you can see that some entries contain 64-bit sizes, e.g.:
[code]

[2019-06-21 22:48] maxsupermanhd commented on #107
So how can i fix/open this thing without zip modification?

[2019-06-21 22:55] kuba-- commented on #107
I'll take a look if I can quickly add 64bit support by merging/upgrading parts of miniz thirdparty.
...or maybe somehow I can ignore those 64bit subfields.

[2019-06-21 23:05] maxsupermanhd commented on #107
This will be very good if it will work

[2019-06-22 23:09] maxsupermanhd commented on #107
Can we just ignore this fields or bypass this if somehow? _Of course we can but_  Will this be safe for reading or it will corrupt something?

[2019-06-24 20:33] kuba-- commented on #107
@maxsupermanhd - I believe miniz already fixed the problem for 64bit fields. I just need to update our miniz fork. But because it required a little bit hacking I have to do it carefully and not to break anything.

[2019-06-24 20:37] maxsupermanhd commented on #107
So updating miniz header can help?

[2019-06-24 20:51] kuba-- commented on #107
It not as easy as replacing a header file -  `miniz` changed a lot over time (split into multiple files etc.). Moreover in this library miniz was a little bit hacked to be able to achieve easy to use `zip` interface.

[2019-06-24 20:54] maxsupermanhd commented on #107
Sow how can i solve this? Just gui pull?

[2019-06-24 21:34] kuba-- commented on #107
I've started porting slowly (in my spare time).

[2019-06-29 21:45] kuba-- commented on #107
@maxsupermanhd - I have a PR (https://github.com/kuba--/zip/pull/108) for branch `fix-107/x64`. It should fix your problem - could you take a look?
The build so far fails on windows (I'll have to fix it with MSVC), but so far you can test it on linux/osx.

[2019-06-29 22:02] kuba-- commented on #107
btw. windows build fixed.

[2019-07-01 11:24] kuba-- commented on #107
@maxsupermanhd - ping

[2019-07-01 12:43] maxsupermanhd commented on #107
Yey! Will test as soon as possible.

[2019-07-05 11:00] maxsupermanhd commented on #107
On first look seems to be working. Still need to do some more tests but this zip file now working.

[2019-07-08 09:34] kuba-- commented on #107
@maxsupermanhd - shall I merge #108 into the master? Does it work for you?
If yes, I can release a new version.

[2019-07-09 22:05] #107 closed

[2019-07-17 10:54] zhu-ty commented on #81
I am also reaching this point, I have total >4GiB files in one zip file, how did you fix it? @dsula

[2019-07-17 11:46] dsula commented on #81
@zhu-ty : I had no other choice but to split the zip into multiple files. Then I built a container file combining the multiple zip files into one. It worked for me because I don't have to handle individual files out of the zip archive. It's either compress them all or extract them all.

[2019-07-17 11:52] kuba-- commented on #81
I'll try to fix it, adding an extra support, so I'm reopening the issue (so far)

[2019-07-17 12:14] zhu-ty commented on #81
OH, @kuba-- and @dsula thanks a lot for your help! Then maybe I will just wait for your solution~

[2019-07-25 06:11] zhu-ty commented on #81
Well is the problem fixed?

[2019-07-28 13:12] kuba-- commented on #81
@zhu-ty - not yet. I'll have to upgrade `miniz.h` (carefully) which already supports 64bit zips.

[2019-07-29 14:41] kuba-- commented on #81
It turned out that to solve this issue in a solid way we need to add support for zip64.
I spent a day to upgrade miniz (which already supports zip64), but it's kind of tricky, mainly because our fork hacked it a little bit, plus `zip.c` also contains some parts of miniz implementation.
Anyway, tests started failing, so I've reverted my work. Hopefully we can fix/add support for zip64 in _something

[2019-07-29 20:41] #81 closed

[2019-07-29 20:42] dsula commented on #81
that was quick. Nice Job!

[2019-07-29 20:45] kuba-- commented on #81
@dsula - I'm closing the issue, right now. I'll open a new one just to add zip64 support.
So far the issue still exists, because the library does not support zip64, yet.

[2019-07-29 20:46] dsula commented on #81
Ok, gotcha.

[2019-07-29 20:47] kuba-- opened #109 "Add support for zip64"
So far, the library does not support 64bit zip archives.
It's mainly related to following issues:
- https://github.com/kuba--/zip/issues/107
- https://github.com/kuba--/zip/issues/81

[2019-07-29 20:47] kuba-- commented on #81
https://github.com/kuba--/zip/issues/109

[2019-07-30 08:39] zhu-ty commented on #81
That was quick thanks, I will be watching the new issue

[2019-09-14 16:02] amiremohamadi commented on #14
@kuba-- Does anyone works on it?!
I'm using this library as a part of my project and I need to be able to remove entries from zip files.
Any suggestions?

[2019-09-16 00:56] kuba-- commented on #14
@amiremohamadi - I didn't have time to work on this and, so far. I also didn't hear about anybody who is working on this issue.
So far, the workaround which comes to my mind is to recreate a new archive and rewrite entries. Aftre that delete the original archive.  It's doable without decompressing and compressing again (I hope)

[2019-11-11 09:46] russkel opened #110 "zip doesn't compile on 32b system with GCC 9.2.0"
Trying to compile assimp for Alpine Linux on 32bit platforms and there seems to be an issue with ssize_t decleration:

[code]

CI output might be of interest: https://cloud.drone.io/alpinelinux/aports/13069 and AL PR https://github.com/alpinelinux/aports/pull/11998

I posted this to https://github.com/assimp/assimp/issues/2733 as well.

[2019-11-11 10:33] russkel commented on #110
Is there a reason size_t is being redefined?

[2019-11-11 14:40] kuba-- commented on #110
Thanks @russkel - I'll take a look.

It was added in commit: https://github.com/kuba--/zip/commit/635ef1d1452d187e027ecdcd164fa0fafa0fd2dd

for 64-bit Windows:

It's not a problem with `size_t` but with redefined `ssize_t`
If we have `ssize_t` one of
[code]
should be defined. I'll take a look what `GCC 9.X.` defines.

[2019-11-11 16:41] kuba-- commented on #110
Looks that adding `__DEFINED_ssize_t` (which is what musl has) to https://github.com/kuba--/zip/blob/master/src/zip.h#L22 may solve the problem but I'll have to double check it.

[2019-11-11 19:42] kuba-- commented on #110
@russkel - I was able to compile this library on Alpine with gcc 9.2.0, without any problems.
Anyway, just in case I pushed PR: https://github.com/kuba--/zip/pull/111/files
which IMO should fix the potential issue.  It just checks/defines another `__DEFINED_ssize_t` which is used by gcc on Alpine.
PTAL if it works for you

[2019-11-12 17:12] #110 closed

[2019-11-12 17:13] kuba-- commented on #110
@russkel Please feel free to reopen, if the issue still happens.
I'm gonna release a new version with the fix

[2019-11-13 20:25] russkel commented on #110
hi @kuba-- thanks for this. I haven't had a chance to test it yet but I will later this evening and will report back! Thanks again for quick fix.

[2019-11-14 10:50] russkel commented on #110
@kuba-- :+1: compiling fine. Thanks for the fix.

[2019-12-31 15:49] maxsupermanhd opened #112 "Runtime error on creating archive"
[code]

[2019-12-31 16:13] maxsupermanhd commented on #112
IDK how i get this and how it works but it cant open archive
[8c-Sk-mischief-17555125ef4ff968085a43d616f21d6d3247872a9b9dda350fc5e4a1894e844d.zip](https://github.com/kuba--/zip/files/4013051/8c-Sk-mischief-17555125ef4ff968085a43d616f21d6d3247872a9b9dda350fc5e4a1894e844d.zip)

[2020-01-01 17:03] kuba-- commented on #112
Thanks, I'll take a look closer. Maybe it's because of following extra info in central directory (64bit is not supported, yet):
[code]

[2020-01-02 17:33] maxsupermanhd commented on #112
Oh, that's kinda 64 bit zip maybe... Well I'm waiting 64 bit support.

[2020-01-02 17:51] kuba-- commented on #112
Yeah, you're not the first one ;) I have to put some effort and finally add it (what can be very tricky and fragile).
Anyway, for this particular case, it's just my first thought. I'll have to take a look closer. Maybe it's not really 64bit zip, but it just contains some 64bit flags which we can ignore.

[2020-01-06 00:11] kuba-- commented on #112
@maxsupermanhd - is it Windows' issue? Because, I tested on OSX and everything looks fine (I was able to open and extract your archive).

[2020-01-09 18:15] kuba-- commented on #112
@maxsupermanhd - could you verify, it's a windows issue?
I don't have locally windows machine, so it could be helpful.

[2020-01-09 20:26] maxsupermanhd commented on #112
I didn't tried that on windows yet. Seems to be only Linux iissue...

[2020-01-18 22:06] maxsupermanhd commented on #109
Can you please make some kind of function witch will look up if zip is 64 bit or not. That will be very useful.

[2020-01-20 19:32] kuba-- commented on #112
@maxsupermanhd - I tried to reproduce it on the latest _ubuntu_
`Linux 94e507b7ce89 4.9.184-linuxkit #1 SMP Tue Jul 2 22:58:16 UTC 2019 x86_64 x86_64 x86_64 GNU/Linux`
with `gcc (Ubuntu 9.2.1-21ubuntu1) 9.2.1 20191130`
but I successfully extracted 10 entries:
[code]

with following snippet:
[code]

[2020-01-21 14:20] maxsupermanhd commented on #112
Yeah, it works fine but in some situations its failing without context. Kinda strange bug and i cant actually figure out where it goes... I've somehow fixed this in by source or its just too tricky to reproduce. For now this issue can be closed. I'll reopen if needed.

[2020-01-21 14:20] #112 closed

[2020-02-03 15:10] randomMesh commented on #110
Hi,

i try to compile latest ASSIMP (which uses zip) on FreeBSD 12.1 with GCC 9.2.0 and there still is an error regarding typedef redefinition:

`
[ 65%] Building C object code/CMakeFiles/assimp.dir/__/contrib/zip/src/zip.c.o
In file included from /home/foo/development/libs/assimp/contrib/zip/src/zip.c:39:
/home/foo/development/libs/assimp/contrib/zip/src/zip.h:31:14: error: typedef redefinition w

[2020-02-03 15:22] kuba-- commented on #110
@randomMesh - I'll take a look on `define` pre-proc. in freebsd library and update `zip.c`.
But if you have a easy access to FreeBSD, you can check `/usr/include/sys/types.h` file and try to fix  by adding `ifdef`

[2020-02-03 19:12] randomMesh commented on #110
Hi,

thanks for the quick answer. I made it compile.

I had a look at `/usr/include/sys/types.h` which looks like this:
[code]

So i added this to zip.h:
[code]

Thanks for the help!

[2020-02-11 13:45] SoylentGraham opened #120 "Miniz is out of date, and no way to avoid symbol clash"
I have a project/lib that already includes miniz from somewhere else, (a PNG encoder/decoder) so I end up with multiple symbols.

As both were using this header-only lib at `1.15`, I've deleted both and replaced with https://github.com/richgel999/miniz (`2.1.0`) which is released as a `.c` and a `.h` so I don't have multiple symbols.

I can see the benefit of having a single include in your librar

[2020-02-11 14:08] SoylentGraham commented on #120
Actually, this was not a trivial change at all... (lots of the other c&h miniz build have structs/funcs/macros that this library uses defined in the .c)
Quick fix for now on my side is (in my other miniz include) is to `#include` it inside a c++ namespace and remove all the `extern "C"`'s so the symbols are mangled for the other case... something more elegent would be great... but the miniz implem

[2020-02-11 15:58] SoylentGraham commented on #120
Already generally covered, need to modify this repository (I wanted to use it as a submodule) for this situation #93 #94

[2020-02-11 15:58] #120 closed

[2020-02-11 22:55] kuba-- commented on #120
@SoylentGraham - yes, I have to upgrade miniz, some day (it will also add zip64 support).
Unfortunately it's kind of hacky, right now, because as you can see, this miniz.h was hacked a little bit (with combination of zip.c) to add support for features like merge files/buffers in the fly etc.

[2020-03-06 00:25] mllamazares commented on #12
Was this functionality finally implemented? Is there any example of use? Thanks!

[2020-03-06 07:27] kuba-- commented on #12
@mllamazares unfortunately not - I don't have time to implement it and I should add support for zip64, first (it's higher priority).
But any help wanted:)

[2020-04-13 15:34] seitzcasey opened #121 "Attempting to build from source. No Make file"
This command seems to succeed.
cmake -DBUILD_SHARED_LIBS=true ..

Attempting to call
make
after results in
make: *** No targets specified and no makefile found.  Stop.

[2020-04-13 15:59] codylico commented on #121
Specify a generator?
[code]

[2020-04-13 16:08] seitzcasey commented on #121
I get this error
No CMAKE_C_COMPILER could be found.

Previously, it defaulted to Visual Studio 16 2019

When I run
cmake -DBUILD_SHARED_LIBS=true ..
this is the output
-- Building for: Visual Studio 16 2019
-- The C compiler identification is MSVC 19.25.28611.0
-- Check for working C compiler: C:/Program Files (x86)/Microsoft Visual Studio/2019/Community/VC/Tools/MSVC/14.25.28610/bin/Hostx64/x64/

[2020-04-13 16:12] codylico commented on #121
It looks like CMake is targeting your Visual Studio install. In that case, Cmake will make (i think) a `*.vsproj` file somewhere in `C:/Users/seitz/Downloads/zip-master/build`, which you would open in Visual Studio for building and making.

Do you have `make` installed on your system somewhere, like maybe in a MinGW or something?

[2020-04-13 16:19] seitzcasey commented on #121
Ok you're right. I was able to build in Visual Studio. One issue though is it says it's not able to find zip.lib

[2020-04-13 23:22] kuba-- commented on #121
Did you check your `C:/Users/seitz/Downloads/zip-master/build`
Maybe check github workflows file (how it's build and tested on windows)
Is it still issue for you, or we can close it?

[2020-04-13 23:22] codylico commented on #121
I looked at the source code again. It looks like none of the `zip_...` functions have Windows-style export attributes (that's the `__declspec(dllimport)` thing usually wrapped in a `..._API` macro). Without that, Visual Studio won't produce a `.lib` file.

[2020-04-15 10:02] kuba-- commented on #121
Ok, makes sense to me to add `__declspec` attributes for shared libraries for `_MSC_VER`.
I'll find a spare cycle and send PR soon.

[2020-04-20 00:34] kuba-- commented on #121
Take a look into PR: https://github.com/kuba--/zip/pull/122

I didn't add any of `__declspec(dllimport)/__declspec(dllexport)`, but I've upgraded cmake to 3.4 so you can pass
[code]
It can _Create dlls on Windows without `declspec()`_ (more details you can read here: https://blog.kitware.com/create-dlls-on-windows-without-declspec-using-new-cmake-export-all-feature/)

Just in case it will also gen

[2020-04-20 21:19] kuba-- commented on #121
@codylico - I've merged the PR: https://github.com/kuba--/zip/pull/122
So you can check if master branch works for you.

[2020-04-21 16:28] codylico commented on #121
@kuba-- I shall check the master branch later today or tomorrow, when I get the chance.

[2020-04-23 00:51] codylico commented on #121
Finally got it to work in Visual Studio 2019. As you stated, need both `-DCMAKE_WINDOWS_EXPORT_ALL_SYMBOLS=TRUE` and `-DBUILD_SHARED_LIBS=TRUE`. I used Visual Studio's built-in CMake.

[2020-04-23 10:05] kuba-- commented on #121
Cool, I'm gonna close this issue, and cut a new release

[2020-04-23 10:06] #121 closed

[2020-05-09 15:30] jiahao42 opened #123 "Directory traversal vulnerability when handling crafted zip file"
### Impact

This vulnerability could allow the attacker to write a file to an arbitrary directory.

### How to reproduce

On the latest version (0.1.19) and the master branch of zip:

To reproduce the issue, you may try to extract this [crafted zip file](https://github.com/jiahao42/PoC/raw/master/zip%40kuba--/PoC.zip), which contains two files `good.txt` and `../../../../../../../../../../../../..

[2020-05-10 14:02] maxsupermanhd opened #125 "heap-buffer-overflow on reading"
[code]
Related: https://github.com/nlohmann/json/issues/2092
https://github.com/maxsupermanhd/WMT/blob/JSON-test/lib/wmt.cpp#L1068
Build howto is in README.md. I can send you core dump if you wish.
File required: 10c-da-bdctw10-v1max.zip
Run with ./bin/wmt 10c-da-bdctw10-v1max.zip -z 5 -feh -v999

[2020-05-11 09:26] kuba-- commented on #125
If it's a buffer overflow on `zip_entry_read` (and it points to `/miniz.h:5463` which is regular `malloc`), have you tried:
[code]

Maybe it can help

[2020-05-11 16:42] maxsupermanhd commented on #125
Ok, there was error in missing null-terminator. Thanks!

[2020-05-11 16:42] #125 closed

[2020-06-24 18:38] luauser32167 opened #126 "Expose a function that opens an archive that is already loaded in memory."
```zip_open``` works only for archives that come from the file system.

[2020-07-10 19:11] hmslima opened #127 "Beginner's questions: I don't know how properly store files inside the zip file"
I am working in a software that I need to store some HTML and JPG files inside a ZIP file _(actually I am aiming to make an EPUB file)_. I find your software amazing and it seems to fit my needs, but I am finding some difficulties because of my newbieness. Firstly, here is my code:

[code]

1. First, the `x.jpg` file is not added to the ZIP file and the `z.jpg` file is renamed to "x.jpg"...
2. I c

[2020-07-10 22:58] codylico commented on #127
Here's something to get you going:
[code]
Then, for example, the next JPEG image:
[code]
Hope this clarifies things somewhat.

[2020-07-10 23:45] kuba-- commented on #127
@codylico thanks for clarification.

@hmslima - what you've done is basically the first example from readme - where we _merge 3 files into one entry and compress them on-the-fly_.
So instead of having many files (entries) you have merged them as one zip entry.

If you just need compress files separately, you have to:
- open entry
- fwrite file
- close entry

(see above example posted by @codylico

[2020-07-11 01:05] #127 closed

[2020-07-11 02:07] hmslima commented on #127
It worked! Thank you very much! Here is the code for those with the same question:

[code]

[2020-07-28 08:16] yjygit opened #128 "Hi Kuba, do you plan to add "delete" or "update" functions?"

[2020-07-28 09:02] kuba-- commented on #128
Hey @yjygit - Yes, I do.
But I believe some help is wanted, because I have to understand use cases and how it will extend an API.
`Delete/Update` functions will have to store entire zip in memory (in place operations) or use some temporary files, so I'm not sure what's better (have to think about it). Maybe adding both options is the solution.

On the other hand, lack of time is my main problem. I

[2020-07-28 10:18] maxsupermanhd commented on #128
Agreed, first of all - stable work and support

[2020-08-04 03:21] jinfeihan57 opened #129 "miniz Limitations"
miniz is a Deflate/Inflate compression library.

But zip format include lzma, bzip2 method.
Any interested in adding these two algorithms?

If Yes : I want to help.

[2020-08-04 09:04] kuba-- commented on #129
Thanks @jinfeihan57.
Frankly speaking, if I find some spare time, I'd like to have full 64-bit support, so this is what I'm focused on.
But any PR is very welcome!

[2020-08-05 08:53] maxsupermanhd commented on #109
Any news about this? (have nice project that heavily depends on zip reading)

[2020-08-05 09:08] kuba-- commented on #109
I hope, I'll have more time in next days

[2020-08-05 19:20] kuba-- commented on #109
But

Btw. So far, I hope you noticed `extern int zip_is64(struct zip_t *zip);` which was added long time ago.

[2020-08-07 03:21] jinfeihan57 commented on #129
@kuba--

If add new compress method, I will introduce some new algorithm files.
I hope that's OK. if so I'll start working in my spare time.

[2020-08-07 13:06] kuba-- commented on #129
yeah, it's fine if we keep API in zip.[h.c] files files and all the new/private implementation will go to the new file.

[2020-08-11 07:33] jinfeihan57 commented on #126
@kuba--
I want to help to solve this issue.
Do you have a name about this new API ？
I think zip_extract() also needs a similar interface.

[2020-08-11 08:55] kuba-- commented on #126
In `libzip` there are functions like `zip_open_from_source`. I thought we can take it as kind of standard (I think _source_ or _stream_ sounds more generic than _memory_), but I would make it shorter, e.g. `zip_open_source` or `zip_open_fromsource`, `zip_open_stream`, `zip_extract_stream`, ...

[2020-08-11 12:27] jinfeihan57 commented on #126
I will take zip_open_stream() and zip_extract_stream().
If there's any change, we can revising it.

[2020-08-12 04:14] kirawi opened #130 "Printf can't print st_mtime"
Test.c
[code]
On my Windows 10 64-bit machine, it'll give you compiler errors because `.st_mtime` returns `long long int` instead of `long unsigned int`. A temporary fix is to use casts like so:
[code]
But I don't know if it'll cause issues down the line.

[2020-08-12 04:31] kirawi commented on #130
Wait, is this related the `zip64` thing? That it only works as a 32bit executable?

[2020-08-12 06:55] jinfeihan57 commented on #130
What version of your GCC?

[2020-08-12 08:10] kirawi commented on #130
10.2 thru MySys2

[2020-08-12 09:18] kuba-- commented on #130
Definitively tests need more _love_. Here I think it's safer to cast other way around (to `long long`) and change format to `ll`.
Otherwise we can wrap some function by macros `_WIN64`, `__MSYS__`.

[2020-08-12 20:06] therealmasonmac commented on #130
[code]

[2020-08-12 20:07] kirawi commented on #130
When compiling in Release mode w/ GCC:
[code]
MSVC does not report these errors.

[2020-08-12 20:12] kuba-- commented on #130
As I mentioned tests on windows need more love. Also for gcc and clang we use extra check flags.
Btw. why do you compile tests in release mode?

[2020-08-12 20:18] kirawi commented on #130
Ah, I was linking the project it as a subdirectory for my main project.
Here's that CMakeLists.txt:
[code]

[2020-08-13 10:23] kuba-- commented on #130
@kirawi - maybe just `include_directories` with `libs/zip/src` will work for you.

[2020-08-13 11:55] sunny-shu commented on #14
@kuba--
when use linux api with the mode “O_RDWR”,
we can lseek the position after the deleting content ,
 then copy the content and lseek  the position to  start of the deleting content  and write the copy content.
So I don't need to create tmp file.I have experimented with it and it is feasible。
i will take a try to solve this problem。

@amiremohamadi
What is the api you want？

[2020-08-13 20:56] kuba-- commented on #14
but it will not physically delete any content, it will just remove the entry from global directory

[2020-08-16 07:41] EndrII opened #132 "The archive loses its structure after unpacking"
Hi. Faced a problem when unpacking an archive using OS utilities.

I pack the Archive using the methods:
[code]

After packing, I get an archive with a seemingly correct structure.

![image](https://user-images.githubusercontent.com/12465465/90329288-14874600-dfac-11ea-9d7c-8ad2b2adc4c3.png)

But after unpacking such an archive, I have a bunch of unstructured files.
[code]
what could be the proble

[2020-08-16 11:18] kuba-- commented on #132
looks like `file` is just a file name without path.
also take a look into zip_entry_fwrite, for your case.

[2020-08-16 13:32] EndrII commented on #132
@kuba-- no, the ```file``` contains path to file in arrhive. exampele : lib/Qt5Core.so

but after extract all files pushes in one root folder.

i am have one invalid [arrhive](https://dropmefiles.com/K6P8v).

[2020-08-16 20:35] kuba-- commented on #132
@EndrII - hmm, I think you have to check your _extracting tool_, because your code works fine for me.
Moreover, if you take a look into `zipinfo` for your `Application.zip` file it looks fine:
[code]

and if I use `unzip` command:
[code]

I can see correct folders structure.

Also if I use following API function `zip_extract("/tmp/Application.zip", "/tmp", NULL, NULL);`
it works fine for me.

[2020-08-18 09:00] #126 closed

[2020-08-18 18:13] EndrII commented on #132
Yes, the problem is with my archiving utility. Thanks for help.

[2020-08-18 22:29] kuba-- commented on #130
@kirawi do you want to keep this issue open? I mean, type of `st_mtime` in test, on windows?
Because rest of the warnings come, when you try to compile test in release mode. Many statements are wrapped by `assert`, what does nothing in release mode, so that's why you see lot of `defined but not used` warnings/errors.

[2020-08-19 12:06] lukvermeulen opened #135 "zip folder into archive"
awesome library so far! I wondered how I can make a .zip out of a folder with subfolders and files. Basically the opposite of the example "extract archive into folder". Thanks for any pointers!

[2020-08-19 19:30] kuba-- commented on #135
@lukvermeulen thanks.
There is no API to compress folders recursively, you have to write your own `walk` function, e.g.:
[code]

be careful on symbolic links ;-)

[2020-08-19 19:52] kuba-- commented on #135
BTW, I've updated README, adding a new example ^^^^

[2020-08-20 11:37] jinfeihan57 commented on #135
@kuba--
What if the folder is empty?

[2020-08-20 11:39] kuba-- commented on #135
it's up to you, you can create an empty entry, this is just an example

[2020-08-20 16:38] lukvermeulen commented on #135
Thanks alot for the example @kuba-- ! I am transfering the logic to UE4 - which worked great so far. The only thing is - my code results in one zip folder with _all_ files from the original folder + subfolders(so without the folder hierarchy. Is there something I missed? Or how could I create sub-folder-entries in the zip to have the same folder structure in the zip archive. Thanks!

[2020-08-20 17:18] lukvermeulen commented on #135
Thanks alot for the awesome example! It helped me understand how this works and transfer the logic to unreal 4.

[2020-08-20 17:18] #135 closed

[2020-08-20 19:46] kuba-- commented on #135
@lukvermeulen
after decompress you should have all files inside subfolders (not a flat structure), so you should check your unzip tool.
take a look into https://github.com/kuba--/zip/issues/132

[2020-08-26 17:22] kuba-- commented on #123
https://github.com/kuba--/zip/pull/136#issuecomment-681007967

[2020-08-27 13:07] jinfeihan57 commented on #129
The [miniz](https://code.google.com/archive/p/miniz/) still not support deflate64.
Is that mean you will implement deflate64 by yourself？

[2020-08-27 14:06] kuba-- commented on #129
I didn't start seriously working on this, I will have to take a look what has been changed in miniz  _v2_ functions

[2020-08-28 12:46] #123 closed

[2020-08-29 06:06] xiaodingding opened #138 "how to support password?"
如何加密文件
How to encrypt files

[2020-08-29 08:42] kuba-- commented on #138
it's not possible (so far), to protect zip files with password.

[2020-08-29 09:11] jinfeihan57 commented on #138
you can try this project https://github.com/szcnick/p7zip

[2020-09-10 10:15] JCash opened #139 "Building tests fails in Release"
I tried to build the library on OSX, but got these error when building the tests:

[code]

[2020-09-10 10:20] JCash commented on #139
Looking at the code, and knowing that `-DNDEBUG` removes the asserts and everything in it:

I suggest moving the actual code (with side effects) outside of any macro.

[2020-09-10 11:13] kuba-- commented on #139
@JCash you're compiling tests in release mode (with very strict flags), where you have many side effects, asserts, and where `DEBUG` is undefined.
IMO it does not really make sense.
So, if you just need to compile the library in release mode just disable testing by `-DCMAKE_DISABLE_TESTING=true`

[2020-09-10 12:46] JCash commented on #139
I disagree. :)
I think it makes perfect sense to test using release mode, since that's what the end product is actually going to use. E.g. for testing that the values are initialized correctly, and not zeroed as they might be in debug builds.

[2020-09-10 13:01] kuba-- commented on #139
...in _release_ mode you don't have debug information.
Do you really want to use _check_ if variables are used or not in your tests?
Do you really want to test without asserts? it will do nothing.

I think end/release product does not need to compile 3rd parties internal tests. After testing you link or compile the library into the product.

[2020-09-10 13:40] kuba-- commented on #139
@JCash - I'm sorry if you took it personally/offensive. I just meant that having asserts in testing is the most important.
Anyway, I hope the simple fix (directly on the master) in `CMakeLists.txt` file will work for you.
It just sets _pedantic_ compilation flags later (just for the library) and not for tests.

[2020-09-10 13:53] JCash commented on #139
Ah, oh no, not at all! :)
I just know that having tons of open unfinished ticket is not fun, so better close it sooner than later.

The fix worked perfectly! Thanks.
I also think it helps other users trying to build a release lib.
(Or perhaps you can also add a note about the `-DCMAKE_DISABLE_TESTING=true`)

[2020-09-10 13:53] #139 closed

[2020-09-10 13:55] kuba-- commented on #139
Thanks!
Yeah, I think would be good to have `CMAKE_DISABLE_TESTING` in readme.

[2020-09-10 15:45] pavel-pimenov commented on #33
@kuba--
Update report http://oracle.fly-server.ru/pvs-studio/zip/

[2020-09-14 12:14] kuba-- commented on #33
thanks

[2020-09-21 08:55] jinfeihan57 commented on #14
@kuba--
The delete function is useful, I want to do this. Do you think if we should support to delete multiple entries at a time (`int zip_entry_delete(zip, entrynamelist)`) or delete only one entry at a time (`int zip_entry_delete(zip, entryname)`)?  The entryname can be a folder name or a file name.

[2020-09-21 09:19] kuba-- commented on #14
@jinfeihan57 - let's first discuss (design) how we gonna implement it.
The API is a minor thing, right now. It can be one by one or multiple at the same time. Maybe we have to open an entry first to delete it... We can come up with the most useful case later. The main question is - do you want to keep temp. copy in memory? Use the temp file? ...

[2020-09-22 01:37] jinfeihan57 commented on #14
@kuba--
I have two  idea:

1. If I have a file contains 5 entries  [0, 1, 2, 3, 4], and I want to delete #1 and  #3. firstly figure out a new central directory, then move the position of   #2 and  #4 in the file,  so #1 and #3 are overwrited. In the end, put the  new central directory on the file end to cover the old one.

2.If I have a file contains 5 entries  [0, 1, 2, 3, 4], and I want to delet

[2020-09-22 13:02] kuba-- commented on #14
@jinfeihan57 - keep in mind that you may `memmove` lot of big entries, e.g. you have N entries:
[1, ..., N][DIR] and you want to remove odd entries 1, 3, 5, ... with different sizes e.g. 1 > 2 > 3 > ... > N. So you will also have to rewrite offsets for all entries and avoid holes/garbage in the archive file.

[2020-10-10 17:11] EndrII commented on #132
I have a new case to reproduce this error.
* add a folder with subfolders to the archive.
* right click on archive and select "extract here" option (ubuntu 20.04 with gnome)
* all files are extracted to the root directory. And the structure of the archive is broken.

[2020-10-11 09:51] pavel-pimenov opened #141 "Add compress/decompress string"
https://gist.github.com/yfnick/6ba33efa7ba12e93b148

[2020-10-11 14:39] kuba-- commented on #141
We have something like that: https://github.com/kuba--/zip/blob/master/src/zip.h#L333

[2020-10-11 14:49] kuba-- commented on #132
@EndrII - but how it's related to the zip library.It's more about your zip archive tool on your ubuntu/gnome.
If you take a look what information is missed for your tool, we can add it.
As far as I know, tools like `zipinfo` do not complain about any missed data.

[2020-10-12 11:50] EndrII commented on #132
I found what is the problem, difference betwin the your lib compressing arrhive and compressing of gnome-nautilus tools arhive.
your library add  a **'/'** char in to begin of file path.
[code]
but a nautilus ziptool do not added this char.

[code]
@kuba--  How to remove the **'/'** from path of files?

[2020-10-12 11:58] EndrII commented on #132
It seems that for the correct saving of the archive structure when unpacking in nautilus, I need to put empty files in the archive in the form of folders.
[code]
how to do it ?

[2020-10-12 13:26] EndrII commented on #132
I solved my problem, it turned out that it was enough only to remove the symbol  '/' from the path in the archive

[2020-10-12 13:26] #132 closed

[2020-10-12 14:30] kuba-- commented on #132
So this is the case how tools store entry names and process them.
The zip does not change entry names (stores original ones, except zip standard which says that dirs separator should be '/'). And then on extract we normalize names:
https://github.com/kuba--/zip/blob/e2246cb5c662ca8e4aa3887ca5d1caf854e0a82a/src/zip.c#L835

like (zipinfo), looks that zip tool on ubuntu does not normalize or modifies

[2020-10-12 14:32] EndrII commented on #132
@kuba--  Thanks )

[2020-10-20 02:50] yjygit opened #143 "Can support gb2313 character encoding."
Can support gb2313 character encoding.
Unable to extract the file with the entity file name and gbk encoding.

[2020-10-20 08:17] kuba-- commented on #143
Frankly speaking, right now I don't have this kind of features on horizon, but we can think about some UTF-8 support.
So far, maybe following helpers may work for you:

[code]

[2020-10-24 01:51] jinfeihan57 commented on #14
I implemented entry remove. Anyone interested can try #142 .

[2020-11-02 17:31] JCash opened #144 "Upgrade to miniz 2.x ?"
Hi!
Thanks for a great library!

Do you have any (near future) plans on updating to miniz version 2.x?

Regards,
Mathias

[2020-11-03 13:26] kuba-- commented on #144
Thanks

Yes, would be great.
I've already tried to add support for _zip64_, but lack of spare time got me to the point where I didn't release anything ;(
Afaik, the latest version of _miniz_ also does not support _zip64_, but maybe it contains some bugfixes etc.

As always, any help is welcome ;)

[2020-11-10 10:54] kuba-- commented on #128
Closing this one (so far) - `zip_delete_entries` API was added

[2020-11-10 10:54] #128 closed

[2020-11-10 10:55] kuba-- commented on #14
Closing this one. `zip_delete_entries` API was added.

[2020-11-10 10:55] #14 closed

[2020-11-10 10:56] kuba-- commented on #141
@pavel-pimenov ping ^^^

[2020-11-11 14:58] nick-dumas opened #145 "MinGW fails compilation"
Reproducing on windows 10:
1. Install MinGW-get from https://osdn.net/projects/mingw/releases/p15522
2. Add the mingw32-base-bin and mingw-gcc-g++-bin packages.
2. Install cmake.
3. Add C:\MinGW\bin to path.
4. `mkdir build`, `cmake .. -G "MinGW Makefiles"`, `cmake --build .`
[error.log](https://github.com/kuba--/zip/files/5524788/error.log)

Relevant MinGW header:
(https://sourceforge.net/p/mingw

[2020-11-11 17:37] kuba-- commented on #145
... but if you take a look into your types.h:
[code]

we can check this macro

[2020-11-13 10:22] kuba-- commented on #145
@nick-dumas - as you can see (on the master branch), I've added `windows-mingw32` build and it compiles without any issues.

[2020-11-13 10:50] nick-dumas commented on #145
Thanks @kuba--! It still isn't working unfortunately. Here's more info on my machine while I look further into it.
![image](https://user-images.githubusercontent.com/48195388/99064310-c270b380-25e0-11eb-8dad-9cb7ab5a1621.png)
I'm currently finding the repo that my header been fetched from.
[types.h](https://github.com/kuba--/zip/files/5536286/types.h.txt)

[2020-11-13 10:54] jinfeihan57 commented on #145
What's your Mingw version?

[2020-11-13 11:15] jinfeihan57 commented on #145
@nick-dumas Do you have another compiler tools？like vs_studio or cygwin.move the mingw environment variable to the foremost or delete other compiler environment variables temporarily.

[2020-11-13 11:15] kuba-- commented on #145
Ok, so if you take a look into your `types.h` file, seems we need to add another macro `__have_typedef_ssize_t`

[2020-11-13 11:18] nick-dumas commented on #145
My version is 0.6.3-pre-20170905-1.
![image](https://user-images.githubusercontent.com/48195388/99066627-395b7b80-25e4-11eb-90fa-e5ac3d8707f5.png)
I'll look into this further on the weekend when I have a bit more time, and see if I can find the difference between the validation build and local.
The actual compilation failure occurs because of conflicting types, which might not happen with a 32 bit

[2020-11-13 11:39] kuba-- commented on #145
I've merged the new macro, PTAL.
https://github.com/kuba--/zip/pull/147

[2020-11-13 11:49] jinfeihan57 commented on #145
Have some issue on here? if don't have macro: __have_typedef_ssize_t in file [types.h](https://github.com/kuba--/zip/files/5536286/types.h.txt) line 123 will  typedef _ssize_t  ssize_t; that means zip.h don't need to define ssize_t. But if have macro __have_typedef_ssize_t . it's seem like the environment have ssize_t.
 I think here we need a macro to identifies his environment.

[2020-11-13 11:56] kuba-- commented on #145
It's already merged, see ^^^^

[2020-11-15 15:45] nick-dumas commented on #145
#### I've done some more research around the issue
The github CI uses [Mingw-w64 8.1.0](https://github.com/actions/virtual-environments/blob/main/images/win/Windows2019-Readme.md), and the failure occurs on [MinGW](http://www.mingw.org/). The types.h header hasn't changed ssize_t stuff since mingwrt-3.21.1, 2015-06-08.
I've had another search, and the file [here](https://osdn.net/projects/mingw/sc

[2020-11-15 18:34] kuba-- commented on #145
Frankly speaking, I'd like to find the correct macro for _your_ `mingw32` version and `ssize_t`.
Using `__MINGW32__` just for `ssize_t` is too generic (IMO). It means that all mingw32 versions and compilers implement/define `ssize_t`, what I think may not be correct.

[2020-11-16 02:34] jinfeihan57 commented on #145
@nick-dumas Can you run CMD " echo | gcc -E -dM - | sort "  on your environment?

[2020-11-17 14:42] nick-dumas commented on #145
Please see [here](https://github.com/kuba--/zip/files/5554091/gcc_define.txt) for gcc inbuilt defines.
You might find [_mingw.h](https://github.com/kuba--/zip/files/5554102/_mingw.h.txt) more useful. It is included by types.h and contains the version definitions. It's created from [_mingw.h.in](https://osdn.net/projects/mingw/scm/git/mingw-org-wsl/blobs/5.4-trunk/mingwrt/include/_mingw.h.in). You'

[2020-11-17 14:50] kuba-- commented on #145
we need to find what macro is defined for ssize_t typedef

[2020-11-17 15:15] nick-dumas commented on #145
As far as I'm aware, there isn't any.

[2020-11-17 23:19] kuba-- commented on #145
Ok, I think we can check:
[code]

[2020-11-18 02:16] jinfeihan57 commented on #145
@kuba--
I think we can try :
#if (defined(__MINGW32__) && !defined(__MINGW64__))
to identify his environment.

[2020-11-18 10:37] kuba-- commented on #145
To recap...
_defines_ of `ssize_t` were generally added for MSVC compiler on windows, where we don't have POSIX support.
I walked through our commits and _type_ headers and I believe it can be simplified just to:
https://github.com/kuba--/zip/pull/148

Hopefully thanks to this PR we won't have to worry about _yet another missing macro_.

PTAL.

[2020-11-18 11:29] nick-dumas commented on #145
Good news!
Branch nodef-ssize_t, git commit 750078c build and test succeeds.
[code]

[2020-11-19 08:59] #145 closed

[2020-11-25 15:50] kuba-- commented on #143
@yjygit can you check if master branch works better for you. It lets you open utf-8 file names on windows.

[2020-12-06 12:42] folibis opened #153 "How to create a new archive in memory?"
`zip_open` requires a filename to be saves in a local filesystem. What if I what to create an archive in the memory, without saving it in a local filesystem, to send it over network, for example?

[2020-12-06 19:35] codylico commented on #153
`zip_open_stream`?

[2020-12-07 00:10] kuba-- commented on #153
So far, it's possible to read/extract zip archive from the memory/stream by `zip_open_stream`, but there is no API to create and save a new zip archive into the memory stream.

[2020-12-07 08:30] folibis commented on #153
I've meant to do something like this:
[code]
i.e. how to create and manipulate an archive in the memory?

it looks like `zip_open_stream` is intended for reading an existing archive into the memory, at least `const char *stream` a bit confuses me.

[2020-12-07 10:57] kuba-- commented on #153
Yes, I understand your use case. So, for writing it's not done, yet. Unfortunately, right now the simplest workaround  is to go through temporary file, read all and delete the temp. file.

[2020-12-09 06:52] jinfeihan57 commented on #153
@folibis
The usage can be found in test.
You can test it.

[2020-12-16 15:02] mykhailopylyp opened #156 "Add support for wide characters."
There are potential issues while using this lib on localized versions of windows. That can happen if a path string has characters that do to fit into `char`. Anyway, is there a way to deal with it now?

[2020-12-16 22:54] kuba-- commented on #156
Look at this PR (already merged): https://github.com/kuba--/zip/pull/150/files

[2020-12-17 09:15] IgorJorobus opened #157 "Issue found in normalize()"
Hello kuba & collabs,

I'm trying to unzip an empty *.xlsx file (which is a masked *.zip file) and am not being able. FYI I'm able to unzip the file with 7-zip and the built-in Windows unzipper.

I did some debugging, and found the problem. It looks like the library finds a file to unzip that actually _doesn't exist_. The path string of this _supposed file_ is `"_rels/"`. `"s4cc"` is the folder wh

[2020-12-17 12:02] mykhailopylyp commented on #156
The above PR does not address my concerns.
For example, if I want to pass the full path to [zip_open](https://github.com/kuba--/zip/blob/ea597c5f1cce56fc066fc103c307e8d046e5c5f5/src/zip.h#L73) I want to be able to pass `wchar_t*` instead of `char*` because some windows localized paths just do not fit into `char*`.

A possible solution - if the preprocessor directive(e.g. USE_WIDE_CHARACTERS) is de

[2020-12-17 12:13] kuba-- commented on #157
Thanks, I'll take a look. But generally zip extracts archive using relative (not absolute) path.
So, it should put all files and directories in your local directory.  This is what `zipinfo` prints:
[code]

[2020-12-17 12:23] kuba-- commented on #157
...and following code prints stuff correctly:
[code]

... but I'll take a look what's wrong with extract method. Of course something can be wrong in `normalize` function.

[2020-12-17 12:37] kuba-- commented on #156
But at the end you have to convert them for std. library, so I suppose you can use one of those helpers:
https://github.com/kuba--/zip/issues/143#issuecomment-712679521

[2020-12-17 13:10] kuba-- commented on #157
@IgorJorobus -  I think the problem is in the code where you pointed we use `strncmp`, and we compare only **one** character `"."` (to skip "." and ".." directories). Unfortunately here it skips files which starts with ".", e.g `.rels`.

Anyway, I'm gonna fix it, but looks like replacing `strncmp`, but regular `strcmp` may solve the problem.

[2020-12-17 16:45] kuba-- commented on #157
You can take a look if PR: https://github.com/kuba--/zip/pull/159
fixes the issue for you.

[2020-12-17 20:22] IgorJorobus commented on #157
Hi kuba. Yes, the PR fixes the problem. Thanks for the quick fix. Cheers!

[2020-12-19 17:13] #157 closed

[2020-12-20 11:11] razaqq opened #160 "clang errors"
Hi im trying to use this lib on windows with clang 11, cmake and ninja.

Encountering the following errors while compiling:

[code]

[2020-12-21 10:22] kuba-- commented on #160
How do you build the library?
I'm surprised that you got:
[code]

which is only defined for `_MSC_VER`

[2020-12-21 14:21] razaqq commented on #160
Pretty simple.

Main cmake adds it as subdirectory, includes the headers and links against it
[code]

[2020-12-22 02:15] jinfeihan57 commented on #160
Is VS_studio installed on your computer? You may need to move it out of the environment variable.

[2020-12-22 09:57] kuba-- commented on #160
My main question is - how it gets into `_MSC_VER` branch if you don't use MSC but clang?

[2020-12-22 10:01] kuba-- commented on #160
Moreover in `zip_entry_fread` we have:
[code]

 What means that `xattr` is used in _non-MSC_ branch, but your error messages we can see:
[code]

 What also means that you have `MSC_VER` defined

[2020-12-22 10:58] kuba-- commented on #160
@razaqq ...anyway, you can try PR: https://github.com/kuba--/zip/pull/162
which should address your comments

[2020-12-22 11:07] razaqq commented on #160
Yes its installed and i am using it for other projects.

[2020-12-22 11:08] razaqq commented on #160
okay will try it and respond back.

[2020-12-22 12:25] #160 closed

[2020-12-29 08:46] NiJagadish opened #163 "Support for PIC32"
Does this code base support PIC32.....

I found the error related to some of the files as given below.....,
#include <sys/stat.h> was not found...... and same for the related files.....

Could you please help me out...?

[2020-12-29 08:48] jinfeihan57 commented on #163
what do you mean? PIC microcontrollers?

[2020-12-29 11:30] kuba-- commented on #163
@NiJagadish `sys/stat.h` is a POSIX header and we mainly support POSIX systems. Looks like your controller does not fully implement POSIX.
Probably other headers also are missed.

So far, I do not have any plans to support/be compatible with microcontrollers, but any PR is welcome!

[2020-12-29 11:32] NiJagadish commented on #163
Yes.

[2020-12-29 11:34] NiJagadish commented on #163
Okay...
thank you....

[2021-01-01 13:08] damian-m-g opened #164 "Library related warnings when compiling"
Hello kuba & supporters,

I'm wondering if the issues the warnings point when compiling are affecting somehow my code:

![image](https://user-images.githubusercontent.com/1852056/103439067-8b01a900-4c18-11eb-8061-cb869b2877dc.png)

It's as if the IDE/compiler can't find where those functions are declared.

Development & target system: Windows x32 & x64
Compiler: MinGW gcc 9.2.0
Library version: 0.

[2021-01-01 14:58] IgorJorobus opened #165 "zip_extract() returns 0 (OK) even if can't find ZIP"
Hello kuba & collabs,

I use the return code of zip_extract() to find out if successfully extract files. When you pass a non-existent path to a zip, it will return 0 while it shouldn´t? Maybe I'm missing some thinking approach here, I'm basing on the zip_extract() documentation that says: _0 on success, negative number (< 0) on error_.

![image](https://user-images.githubusercontent.com/1852056/10

[2021-01-01 19:06] kuba-- commented on #165
Thanks, it should be fixed by https://github.com/kuba--/zip/pull/166

[2021-01-01 20:26] kuba-- commented on #164
This is kind of tricky, because documentation says that functions like `_wfopen_s` are defined either in `stdio.h` or `wchar.h`.
And as you can see `stdio.h` is already included in `miniz.h:4113`.

I wonder if it can be related how MinGW was installed.

[2021-01-02 14:39] IgorJorobus commented on #164
Probably is that. I tried yesterday to compile with msys/mingw gcc that comes with one of the last Ruby versions for Windows, which is version 10.2.0 (versus 9.2.0 that comes with MinGW official website), and the warnings went gone. It looks like indeed those warnings were bothering the compiling of my DLL because couldn't call it from another app, while compiling with 10.2.0 has no issues.

[2021-01-02 14:46] IgorJorobus commented on #164
This is the output for the **msys/mingw gcc** that comes with Ruby windows installer (no warnings are thrown when compiling with this):

![image](https://user-images.githubusercontent.com/1852056/103459650-a68bb300-4cef-11eb-87a5-2aebb02d668a.png)

This is the output for the **mingw gcc** compiler, downloaded from MinGW official website (warnings thrown):

![image](https://user-images.githubuserco

[2021-01-02 14:54] IgorJorobus commented on #165
The commit looks good. Thank you.

[2021-01-02 15:07] #165 closed

[2021-01-04 15:57] kuba-- commented on #164
looks that the main difference here is gcc 9.2 vs gcc 10.2

[2021-01-04 19:31] kuba-- commented on #164
maybe you need to define `MINGW_HAS_SECURE_API` for your distribution. to have `_w` functions

[2021-01-06 19:13] IgorJorobus commented on #164
FYI: I tried your last suggestion with 9.2 and didn't work. Same warnings.

[2021-01-19 11:34] MiratPH commented on #143
@yjygit Have you solved that? I'm facing with the same problem. As a workaround I get the file path in **on_extract_entry** and do the transcode and rename the file. May have some performance issue but I have other things to worry about for now.

[2021-03-01 23:46] x64debug opened #168 "zip_entry_write capturing nothing out of my const char"
Hello, I am wondering why this was not working

[2021-03-02 23:29] kuba-- commented on #168
@x64debug - I need more context.  What does it mean - "not working"? The partial snippet does not explain much.

As an example I created following file `main.cpp`:
[code]

And I compiled: `g++ -I../src libzip.a main.cpp -o main`

It works fine for me. If it does not for you, please give more context.

[2021-03-03 13:52] x64debug commented on #168
My string has multiple lines in it like Hi\nHello\n and it seems like only the first line shows up when put in a txt in the zip

[2021-03-03 14:37] kuba-- commented on #168
Without any details, it's hard to help, but I don't see any problems with multiline strings.

[code]
[code]

[code]

[2021-03-03 18:49] x64debug commented on #168
Oh sorry I was doing it wrong 🤦

[2021-03-03 18:53] x64debug commented on #168
Does zip_open automatically created temp file?

[2021-03-03 21:40] x64debug commented on #168
I apologize, is it possible to zip an existing folder?

[2021-03-03 22:32] kuba-- commented on #168
There is no API like _zip folder_. You have to write some code to do that, but if you take a look into `README.md` file, there is a section _Compress folder (recursively)_ with example.

[2021-03-04 10:54] #168 closed

[2021-03-06 17:27] kuba-- commented on #153
@folibis - I think the new stream API (zip_open_stream, zip_close_stream, zip_copy_stream) will work for you, so we can close this issue. PTAL.

[2021-03-06 17:37] kuba-- opened #169 "zip stream API"
@jinfeihan57
I just realized that we have:

`zip_open`, `zip_close`
`zip_entry_open`, `zip_entry_close`, `zip_entry_write`, etc.

but we have `zip_open_stream`, `zip_close_stream`, `zip_extract_stream`, `zip_copy_stream`, ...

and I think it does not look logical, because we had:

`zip_[type]_<operation>`, like `zip_entry_open`, but for stream we have `zip_<operation>_<type>`.

What do you think t

[2021-03-07 05:43] jinfeihan57 commented on #169
This is really confusing, my fault.
I think it is more reasonable to use your original naming rule zip_[type]_<operation>.
I will make changes on a new branch.

[2021-03-07 10:58] jinfeihan57 commented on #169
@kuba--
Please check this PR. #170

[2021-03-07 21:13] #169 closed

[2021-03-07 21:16] kuba-- commented on #141
@pavel-pimenov I'm closing this issue, right now.
If you have any questions or new stream API does not work for you, you can always re-open the issue.

[2021-03-07 21:16] #141 closed

[2021-03-07 21:16] #163 closed

[2021-03-10 12:41] #153 closed

[2021-03-15 10:41] #164 closed

[2021-03-19 16:40] wdlkmpx commented on #144
I guess the way to upgrade to `miniz v2.1.0` is to produce patches to apply to that miniz.h version. I have no idea what has changed since 1.5, but I guess some major changes have happened and that will make things even harder.

But this commit (clang-format) cf20cef7133cbad52dda19990f1871a2ee780ff8
kind of makes the transition difficult

That commit kind of obfuscates everything specially for pot

[2021-03-19 19:06] wdlkmpx commented on #144
It all started with miniz 1.15 r4

miniz.c 2013.10.14 https://github.com/richgel999/miniz/commit/28f5066e332590c8a68fa4870e89233e72ce7a44
miniz.h 2015.03.23 e5f376e4ee0f2a3b81a8d4680d510fcf166a0d5d

Exactly the same file. But zip's miniz.h contains a few extra macOS #defines

1.15r4 happens very early in miniz git history, basically everything happens after that.
The next commit splits the header

[2021-03-20 14:11] kuba-- commented on #144
Single header file was made on purpose.
Also to achieve what we have, right now, a little bit hacking was needed, so it's not as easy as copy-paste the file(s).

We have to make it as single header file (ideally), and walk through function by function to check what really changed.

[2021-03-20 16:09] wdlkmpx commented on #144
If you browse the miniz source at 28f5066e332590c8a68fa4870e89233e72ce7a44 (git checkout ..)
miniz.c is exactly the same as the first miniz.h added to this project.

But there is amalgamation/miniz.c & amalgamation/miniz.h
What happened after that commit is that miniz.c was split into several files. So you're right, the amalgamation was always .c+.h,  but there was a .c file that was a single head

[2021-04-23 11:10] rikogeln opened #181 "investigate codecov security incident"
We got notified of a breach in the codecov service and this project could also be affected see:https://about.codecov.io/security-update/ and if applicable please follow the mitigation steps there and make sure the zip source code has not been compromised.

Most likely you are already aware of this - but i wanted to flag it just to be on the safe side.

[2021-04-23 11:24] kuba-- commented on #181
Thanks @rikogeln - `zip` does not use codecov (it used long time ago). Anyway, I just in case I removed access for codecov app.

[2021-04-23 11:24] #181 closed

[2021-04-27 10:09] bloomen opened #182 "Is there a way to inflate only one chunk at a time?"
Thanks for the neat library!

I was wondering if it's possible to inflate only one chunk at a time? Or do I need to decompress the entire zip file?

[2021-04-27 10:19] kuba-- commented on #182
Thanks,
@bloomen - do you mean extract just one entry?
For instance you have a `foo.zip` which contains `foo-1.txt, foo-2.txt, ..., foo-n.txt` and you want to just extract `foo-2.txt`.
If this is your use case, then it's as simple as (if you want to save to file):

[code]

or (if you want to extract in memory)

[code]

[2021-04-27 10:26] bloomen commented on #182
I've seen these code snippets and they work fine but what I need is to inflate just the first n bytes or chunks of an entry. Is that possible?

[2021-04-27 10:57] kuba-- commented on #182
Ohh, ok.
In theory it's not supported, but you can try with callback (maybe it will work for you), e.g.:
[code]

So, in your callback function `on_extract` you can skip some bytes or if you're done, you can try to return `0`.
Most likely `zip_entry_extract` will get an error, but at least you can memorize the chunk.

In other words, if you return _incorrect_ size from the callback, you'll break th

[2021-04-28 11:41] kuba-- commented on #182
@bloomen - does the workaround (☝🏻 ) work for you?

[2021-04-28 23:11] kuba-- commented on #182
By the way, I wrote example and I think it may work for you. Basically it populates a buffer by data rom `foo-1.txt`. It starts with `buf.off` up to `buf.cap`.
Take a look:

[code]

[2021-04-28 23:56] bloomen commented on #182
Thanks for the example! I'll give it a go on my end. What is the chunk size that `on_extract` is called with? Is it always the same, hard coded somewhere in the library?

[2021-04-29 00:05] bloomen commented on #182
I just tested this and it seems that `on_extract` is only called once with the full size of the entry.

[2021-04-29 10:48] kuba-- commented on #182
It depends (mostly 32K). Probably you tried with some small file. For instance with 1GB file I get:
[code]

[2021-04-29 23:11] bloomen commented on #182
I see. Thanks for your help!

[2021-04-30 08:13] #182 closed

[2021-05-04 07:35] jgsogo opened #185 "New release 0.1.31?"
Hi!

We are packaging this library in ConanCenter (https://github.com/conan-io/conan-center-index/pull/5081). While working on it, we submitted upstream some fixes to the build-system that are already merged (https://github.com/kuba--/zip/pull/178). Is it possible to get a new tag/release so we can package that new version in ConanCenter and avoid adding patches to the Conan recipe that will no lo

[2021-05-04 08:51] kuba-- commented on #185
Here you go: https://github.com/kuba--/zip/releases/tag/v0.1.31

[2021-05-04 08:54] #185 closed

[2021-05-12 09:41] Tectu opened #188 "Create in-memory ZIP archive"
It would be great to have a way to create a ZIP archive in-memory without the need of creating it on the filesystem.

Is this something that is on the roadmap? How difficult would it be to implement this?

[2021-05-12 10:05] Tectu commented on #188
Well... seems like `zip_stream_open()` is what I want.

Excuse the noise.

[2021-05-12 10:05] #188 closed

[2021-05-12 10:16] kuba-- commented on #188
Yep, recently the new _stream_ API was added: `zip_stream_open`, `zip_stream_copy`, `zip_stream_close` which basically does the thing.

[2021-05-17 12:30] Icy2010 opened #189 "Unable to unzip files from some folders"
If the name of the folder is Chinese, the file of the folder cannot be extracted。。。。。

[2021-05-18 23:43] kuba-- commented on #189
If you are on windows, probably you should convert entry names to your encoding (take a look on post: https://github.com/kuba--/zip/issues/143#issuecomment-712679521).
On unix-like platform it should work as expected.

I did following experiment:
- I created following structure in `/tmp/test`:
[code]

- compressed the folder:
[code]

- zipinfo:
[code]

- unzip:
[code]

[code]

[2021-05-24 20:49] kuba-- commented on #189
I'm closing this one. @Icy2010 please feel free to reopen if the workaround ☝🏻 does not work for you.

[2021-05-24 20:49] #189 closed

[2021-06-02 17:38] seanbrakefield opened #190 "Suggested Optimization"
I've been reviewing several potential low-level zip libraries and found this compact and very readable for my purposes. Good work! I'm testing this on Android devices, and I found the performance was ~3x slower than Java's ZipInputStream class. This was surprising so I benchmarked the current zip_extract method and found that the bulk of the delay was with the current mz_crc32 method. The file I a

[2021-06-05 12:01] kuba-- commented on #190
Good stuff, Thanks!
I'm not sure if we can use directly https://github.com/stbrumme/crc32 library here (because of licensing), but definitively we can try extend API, so everyone can pass _own_ implementation of `CRC32`.

[2021-06-14 11:02] kuba-- commented on #190
@seanbrakefield PTAL: https://github.com/kuba--/zip/pull/191

you can set your own CRC32 function:
[code]

[2021-06-16 11:22] #190 closed

[2021-06-22 10:53] GHScan opened #192 "Filename with UTF8 encoding doesn't work on Windows"
1. Currently MZ_FILE_STAT doesn't work on Windows, as it is defined as _stat, which accepts non-UTF8 multibyte string by default in east asian countries.

2. At 1273 lines of zip.c, MZ_FOPEN should be used instead

[2021-06-22 11:08] hsmku opened #193 "undefined reference to `_ftelli64' - MINGW -"
Hello,

I compile under Windows 7 64 bits and i got this undefined reference !
I already added -lws2_32 in linker options !

Please help me !!

[2021-06-22 11:58] kuba-- commented on #192
Hey,
regarding 1. - it's a windows thingy, which I believe can be workaround, take a look:
https://github.com/kuba--/zip/issues/143#issuecomment-712679521

regarding 2. - I think it's more about MSC compiler (not windows), where `fopen_s(&stream, filename, "rb")` is used.

[2021-06-22 12:32] GHScan commented on #192
regarding 1, I think it's better to have a function naming mz_stat, which translates filename from UTF8 to wide string then invoke _wstat

regarding 2, it's not only the signature thing, the encoding of filename should also be take care as what have been done in MZ_FOPEN

[2021-06-22 18:41] hsmku commented on #193
I use MINGW-64 for windows with GNU GCC - when I compile for C program, it give me the undefined ref above.
And the
_I already added -lws2_32 in linker options !_
has nothing to do here (for socket).

I tried to lookup many time on google but I found nothing !!!

Except a hook in `CXFLAGS` to do `-D_ftelli64=_ftello64`

But `_ftello64` is also an undefined reference.

[2021-06-22 18:42] hsmku commented on #193
Either I love your library ! EXTREMLY SIMPLE !!!! I LOVE THAT !

[2021-06-23 09:23] hsmku commented on #193
Hello : https://fr.osdn.net/projects/mingw/ticket/38225

Legacy WINDOWS does not implement _ftelli64 till msvcr80...

Just replaced _ftelli64 and _fseeki64 by ftell and fseek in miniz.h !!

Works exactly the same !!

THANKS ! This lib is great for microdevices !!!!

[2021-06-23 09:23] #193 closed

[2021-06-23 12:04] kuba-- commented on #193
Thanks, maybe I'll try to unify some configs, in the future.

[2021-06-24 18:34] kuba-- commented on #192
@GHScan PTAL if following fix: https://github.com/kuba--/zip/pull/194
works for you.

[2021-06-24 19:20] kuba-- commented on #143
I'm closing this one as kind of dup. of https://github.com/kuba--/zip/issues/156

[2021-06-24 19:20] #143 closed

[2021-06-24 19:22] kuba-- commented on #138
I'm closing this one because, so far I don't have plans to support passwords. We can reopen this issue in the future

[2021-06-24 19:22] #138 closed

[2021-06-25 10:28] GHScan commented on #192
I've tested this fix and it does work , Thanks kuba!

[2021-06-30 11:16] UAchar opened #195 "Type C4244 compiler warnings."
I get a lot of c4244 compiler warnings with this zip library. Is there a plan to fix them?
![Kuba_Zip_Comiper_Warnings](https://user-images.githubusercontent.com/86720341/123951544-33fd4680-d9a5-11eb-84dc-0c6823527dcc.png)

[2021-07-01 09:25] maxsupermanhd commented on #195
Try compiling with MinGW

[2021-07-01 16:17] kuba-- commented on #195
@UAchar - it's not easy to get rid of all warnings for Windows/MSC and keep backward compatibility on other platforms, but I tried to replace (where it's possible) `mz_uint64` by `size_t`.
PTAL https://github.com/kuba--/zip/pull/196 if you see at least less warnings.

[2021-07-04 18:47] AtariSMN82 opened #197 "zip_entry_noallocread error"
Why i get error code "extracting data using no memory allocation" from zip_entry_noallocread if i use this compiler defines: -DRELEASE -DNDEBUG (GCC 9.2.0, Windows7 x32)

[2021-07-07 09:45] kuba-- commented on #197
@AtariSMN82 - could you give more context (maybe code)?

The error definitively comes from https://github.com/kuba--/zip/blob/master/src/miniz.h#L5164 function, but I'm trying to understand your use case (how it's different from test case:
https://github.com/kuba--/zip/blob/2f6857e267b0eedee5f2842429172c38c1972a3a/test/test_read.c#L86).

If you don't define macros (RELEASE and/or NDEBUG) then it w

[2021-07-07 14:05] AtariSMN82 commented on #197
@kuba-- Sorry, this error occurs when i use multi-threaded archive reading. Blocking thread by mutex fix it

[2021-07-07 15:21] kuba-- commented on #197
Ok, I'm closing this one.

[2021-07-07 15:21] #197 closed

[2021-07-09 09:44] #195 closed

[2021-07-16 13:17] UAchar opened #198 "Some more warnings from miniz.h and zip.c"
Some more level 4 warnings appear during compilation:
![image](https://user-images.githubusercontent.com/86720341/125949179-e2f9d425-cb6c-49fc-b8bf-aed503337a62.png)

![image](https://user-images.githubusercontent.com/86720341/125949407-690fed6d-0efe-4566-b0fd-ff018aa935a7.png)

[2021-07-16 17:14] kuba-- commented on #198
Thanks,
I addressed the first part of warnings here: https://github.com/kuba--/zip/pull/199

I would not worry much about the second part (zip.c:212, ...). If you know what's going on it's pretty clear.

[2021-07-17 09:55] #198 closed

[2021-07-17 22:35] codylico commented on #198
maybe for the assignment in conditional, you can put extra parentheses
around it; that may let the compiler know what you intend (i haven't tested
it though).

[2021-07-17 23:58] kuba-- commented on #198
@codylico - it's already done in this way:
`for (i = 0; (i < n) && (c = *str++); ++i)`
` if (!(stream = MZ_FOPEN(filename, "rb")))`
`if ((err = zip_entry_openbyindex(zip, i)))`

[2021-07-18 19:27] codylico commented on #198
@kuba-- yeah, i agree with you, looks like it is. :thinking:

only other idea i have then is to put an explicit `!= 0` in the expression. but, depending on the library goals that may be too much effort for one compiler.

[2021-07-21 14:42] UAchar commented on #156
zip_extract doesn't work for UTF-8 characters. I found the problem in zip_mkpath() which calls _mkdir.
If I personally do the MB/WCHAR conversion there and and cll _wmkdir, it works.

[2021-07-21 21:07] kuba-- commented on #156
I can fix `zip_mkpath` for windows in similar way how `mz_stat` was done.

[2021-07-22 08:08] UAchar commented on #156
That would be very helpful! Thanks!!
Also, is there a release version coming soon?

[2021-07-22 09:23] kuba-- commented on #156
@UAchar - PTAL https://github.com/kuba--/zip/pull/200
...if it works for you.
I can push a new release after we merge the PR(#200). I don't expect any destabilization in recent commits.

[2021-07-22 13:33] SpaceIm commented on #144
It would be nice.
It would avoid duplicated symbols when a project indirectly depends on zip and miniz through static libs, since miniz 2.x is not a C header only lib (see this comment for an example of clashes: https://github.com/assimp/assimp/issues/3213#issuecomment-837584203).

[2021-07-22 14:37] kuba-- commented on #144
@SpaceIm - it was long time ago when I checked miniz 2.x, and definitivelly I'd like to do it, but I'm not sure if it's gonna solve your problem.
As far as I know you can also generate miniz 2.x as a single header file, but the reason why it was modified (but actually I didn't change existing stuff, mainly added some wrappers), is to be able expose _user friendly api_.
So, even if I upgrade to 2.x

[2021-07-22 15:09] squirlyfoxy opened #201 "Strange characters at the bottom of the file"
I am trying to read a json file from an archive and to serialize it via nlohmann's json library but (as you can see in the screenshot), the variable contains at the bottom some strange characters which prevent the library from serializing correctly and leads the program to an exception

![Immagine](https://user-images.githubusercontent.com/48452585/126662027-6dbf39c5-23c0-4f51-8811-01c7a01ee5c9.pn

[2021-07-22 15:32] kuba-- commented on #201
But how it's related to the zip library?
Who, how put those characters (trash) there?
Do you use returned `f.buff_size`?

[2021-07-22 15:38] squirlyfoxy commented on #201
I return a struct witch contains a void* and a size_t

[2021-07-22 20:05] kuba-- commented on #201
you  can attach the zip file, so I can try to unzip it. My point is that maybe you don't tailor the buffer by size, so the rest of the stuff is just garbage.

[2021-07-22 22:13] squirlyfoxy commented on #201
[test_world.zip](https://github.com/kuba--/zip/files/6865473/test_world.zip)

I create the archives after the build by launching a c# program written with the ICSharpCode zip library if it can help

[2021-07-22 23:29] kuba-- commented on #201
I don't see any garbage in the file after I decompress it, but you can also (temporary) try to copy n bytes (in your case 630) and deserialize it, e.g.:
[code]

Let me know if you also see he garbage in the new (tmp) string.

[2021-07-22 23:43] kuba-- commented on #201
btw. your first two lines (before you pass file content to the `json.parse`) just blindly convert `void*` to C++ string.
Maybe try to get/convert  just `bufsize` characters and then pass to `parse`.

[2021-07-23 08:18] squirlyfoxy commented on #201
I think it's working... thank you very much

![i think it's working](https://user-images.githubusercontent.com/48452585/126752139-619343de-f0cc-4de7-a1e9-1e25af5557b3.png)

[2021-07-23 08:18] #201 closed

[2021-07-23 13:33] warmwaffles commented on #144
I was attempting to flip in miniz 2.0 hoping the change over would be simple. But simply put, it is not.

Some issues I ran into and don't know how it should be solved.

* `MZ_FILE_STAT_STRUCT`  is no longer present and there isn't any sort of replacement other than making one.
* Internal state for mz state is now opaque so a work around will be necessary.
* `MZ_MKDIR` is gone, a cross platform de

[2021-07-23 14:03] warmwaffles commented on #144
Actually, they offer a `BUILD_HEADER_ONLY` option that could be utilized and a largish portion of these issues would go away https://github.com/richgel999/miniz/blob/master/CMakeLists.txt#L72-L76

[2021-07-23 14:12] warmwaffles commented on #144
That did it, the errors are much fewer, and easier to deal with. If I get this working, I'll submit a PR

[2021-07-23 15:33] warmwaffles commented on #144
@kuba-- this is almost complete. The only thing that is failing is the permission test. Feel free to make edits how you see fit or suggestions.

[2021-07-23 15:59] kuba-- commented on #144
It also does not compile on windows.

[2021-07-23 16:03] kuba-- commented on #144
I'll take a look, but as far as I remember this upgrade requires some careful, step by step checks.
The new version of miniz uses some modified/extended structures, which are cached in `struct zip_t`. Also to make the API simple I added some helpers + permissions and custom crc32 function etc.

Anyway, thanks for PR, I'll take a look.

[2021-07-27 12:25] kuba-- commented on #144
PTAL on https://github.com/kuba--/zip/pull/203
So far, so good (all tests pass) - play with this branch and put some comments if it works for you.
Hopefully we can merge it asap.

[2021-07-29 08:56] #144 closed

[2021-07-29 09:37] kuba-- commented on #129
I'm closing this one (so far). We can reopen if needed.

[2021-07-29 09:37] #129 closed

[2021-08-07 12:05] SpaceIm commented on #144
I'll see if I can bump `zip` conan recipe (called `kuba-zip`) to 0.2.0 with external `miniz` 2.2.0

[2021-08-07 12:25] SpaceIm commented on #144
I see, it can't work, zip relies on internal details of miniz (not exposed in public API).

[2021-08-07 23:54] kuba-- commented on #144
@SpaceIm - what do you mean?

This library is more or less _handy wrapper_ around miniz, so of course it will rely on miniz internals.
Btw., `master` branch (as well `miniz-2.2.0` branch) uses miniz v2.2.0.

[2021-08-08 00:41] SpaceIm commented on #144
I would like to avoid ODR violation when miniz and zip are in the same dependency graph.

[2021-08-08 00:48] kuba-- commented on #144
That would be perfect, but as you can see, all the handy stuff (like merging buffers into one entry etc.) are done by _hacking_ and/or _caching_ some miniz internals.
Otherwise, it's kind of pointless to use this library if we can directly use miniz.

[2021-08-31 07:02] eleriaqueen opened #204 "Windows can't open resulting zip files ?"
Hello sorry for bothering you, I have a little problem, a zip file created with with the following code works fine with 7zip but can't be opened with Windows' file explorer (it spews an error saying file isn't compatible though it can handle other zip files) :

[code]

[2021-08-31 09:42] kuba-- commented on #204
@eleriaqueen - I think you forgot to close the zip archive (`zip_close(zip)`) before `return`.
All use cases follow the same pattern:
[code]

In your case `zip_close` is missed.

[2021-08-31 09:43] kuba-- commented on #204
Please, try it out and close the issue (if it was the case and the fix works for you).

[2021-08-31 11:01] mykhailopylyp opened #205 "Unsafe `_wfopen` and `_wfreopen` in Visual Studio"
Safe versions of  `_wfopen` and `_wfreopen` should be used in VS 2019.

![image](https://user-images.githubusercontent.com/17161067/131490976-c37acf60-531c-4b5b-8de7-fa91fbe55258.png)

[2021-08-31 11:16] mykhailopylyp commented on #156
@kuba--
It is still not possible to pass `wchar_t*` to `zip_open`.

[2021-08-31 12:05] eleriaqueen commented on #204
Woah that was it, I feel stupid !

[2021-08-31 12:05] #204 closed

[2021-08-31 12:09] kuba-- commented on #205
Actually, it was changed back to fix an issue on MinGW (https://github.com/kuba--/zip/issues/164)

[2021-08-31 12:18] mykhailopylyp commented on #205
We can probably use `_MSC_VER` to ifdef. Any thoughts?

[2021-08-31 12:21] kuba-- commented on #205
Yeah, I think I'll try with nested defs (one for mingw and the second for msc).

[2021-08-31 12:42] kuba-- commented on #205
Here is a fix: https://github.com/kuba--/zip/pull/206
which I hope will work for both MSC and MinGW on windows.

[2021-08-31 12:45] kuba-- commented on #156
@mykhailopylyp - yes, there is no public API to support `wchar`, but just some internal functions on windows.

[2021-08-31 20:48] aicarambazigalo commented on #193
This issue has been encountered in two places:
https://github.com/ziglang/zig/issues/9402
and
https://github.com/MasterQ32/ZigAndroidTemplate/issues/5#issuecomment-909339943

[2021-08-31 21:04] kuba-- commented on #193
I've just sent PR: https://github.com/kuba--/zip/pull/207 (replacing _ftelli64 and _fseeko64 by ftell and fseek on for MINGW32).
Please let me know if the fix works for you.

[2021-09-01 00:23] aicarambazigalo commented on #193
unless I'm misunderstanding something, that PR may not be right currently... as it tries to change something else (`_ftello64`  for example, instead of `_ftelli64`). I'm on Windows 7 Professional 64bit SP1.

In [my particular case](https://github.com/MasterQ32/ZigAndroidTemplate/issues/5#issuecomment-909574651) here's what I've changed (commented out and replaced):
[code]
and in context they are:

[2021-09-01 00:27] aicarambazigalo commented on #193
hmm looks like I've already had a version of `miniz.h` with the change in that PR from https://github.com/MasterQ32/ZigAndroidTemplate/blob/66daf5ae5c9828680e060a5a1f46b35c41537022/vendor/kuba-zip/miniz.h#L4157-L4174

so then, perhaps in addition to that PR, I've had to do the aforementioned 2-line change too.

[2021-09-01 11:15] #205 closed

[2021-09-14 10:05] gynt opened #209 "Calling zip_entry_open after zip_close gives an ugly error"
The error happens here: https://github.com/kuba--/zip/blob/master/src/zip.c#L891 and in my testing it happened also in the CLEANUP call in the line right after.
It happens because the pointer to the zip entry structure has become invalid after closing the zip, which is expected behaviour of course.

However, it would be more informational to make zip_entry_open return an error code that indicates

[2021-09-14 15:01] codylico commented on #209
_outsider comment; feel free to ignore:_

As you noted, the `CLEANUP` macro used in the `zip` library frees the pointer to the zip structure, entry and all. Once that free happens, the heap/operating system/memory allocator reclaims that memory (and possibly uses it for something else).

At first glance, to implement a proper error code would mean that the `zip` library would have remember the poi

[2021-09-15 14:22] gynt commented on #209
Hmm, so I figured out my issue is actually quite fundamental. `zip_close` frees the complete zip_t struct with a `CLEANUP`, while I was expecting it to remember the zip was closed. So `zip_close` is more like a `zip_delete` or `zip_destroy`.

An example of a specific error I am getting is an access violation at the `CLEANUP` statement: Access violation reading location 0xDDDDDDD4. Basically the co

[2021-09-15 18:02] kuba-- commented on #209
I wonder if we need to fix the issue, and check everywhere if archive is closed etc.
Mainly, because the problem is not really in library, but in the way how it's used.

Like if you take a look into stdlib, e.g.:
[code]
`strcpy` does not return an error, like _not allocated memory_ or _not enough space_, the code will just crash.
In other words, in such a way we can break any code. You can't use v

[2021-09-16 11:20] gynt commented on #209
Yes you are right. The subtlety is in the fact `zip_open` returns a pointer, instead of a `zip_t` struct.
So what I am trying to say is that `zip_close` and `zip_open` sound like functions that operate on a struct in memory and open a stream.
As if:
[code]
But instead, the functions allocate and free memory.

I fully admit that the error is very obvious and I actually also don't have good alternat

[2021-09-16 20:27] kuba-- commented on #209
Are you talking about naming conventions? `zip_open`/`zip_close` mainly opens/closes files, flushes central directory etc. and of course release resources.
Personally I don't see the point to change API (right now), but of course any pull request where you can set own allocator/deallocator is welcome.

[2021-09-18 08:16] ownwell opened #210 "not support compress charArray or std::string"
can compress to file,but not compress string

[2021-09-18 09:55] kuba-- commented on #210
There is a stream API , which lets you keep compressed stream in memory. See example:
[code]

[2021-09-18 09:55] #210 closed

[2021-09-20 15:30] kuba-- commented on #209
Feel free to reopen the issue, if it's needed.

[2021-11-08 12:49] brentp commented on #109
Is the number of files still limited to 65536? I see a few commits related to this, but it's not clear what limitations remain. Thanks!

[2021-11-08 13:50] brentp commented on #109
I ran some tests and it is indeed still limited to 65536 files and a total compressed size of ~ 4.2GB

[2021-11-09 00:08] kuba-- commented on #109
Yeah, mostly it's still 32 bit library (mainly due to miniz). We can just recognize some x64 settings, and that's all.
Zip directory still uses on 32 bits values.

[2021-11-09 09:04] brentp commented on #109
thanks for the reply. miniz does support zip64, or am I mistaken?

[2021-11-09 10:34] kuba-- commented on #109
I have to take a look what has been changed in miniz, over time. But we already use the latest miniz version (2.2.0).

[2021-11-11 18:30] SamuelMarks opened #211 "C89 (old ANSI C) compatibility"
Recommend adding to your root `CMakeLists.txt`:
[code]

(and removing `-std=gnu99`)

PS: Want me to remove your CRT warning disable on MSVC and modify your code to use their primitives?

[2021-11-11 23:11] #211 closed

[2021-12-09 13:42] UAchar commented on #26
miniz supports UTF-8 for zip filenames since version 2.0.3.
when I pass this bit flag while creating the header: "mz_zip_writer_add_to_central_dir" in zip_entry_close(),  the zip internal files will show correct names in other zip tools too.
Is it possible to push this change?

[2021-12-09 22:13] kuba-- commented on #26
@UAchar - sure.
Take a look if this _silly_ change is good enough and works for you:
https://github.com/kuba--/zip/pull/214

[2021-12-10 18:35] kuba-- commented on #109
Should be fixed by https://github.com/kuba--/zip/pull/215

[2021-12-10 18:35] #109 closed

[2021-12-15 15:28] Malu007 opened #217 "Crashes on Android / Double-close issues in API?"
Hi there,

great piece of Software!
I am using your wrapper for an Android app. Everything works smoothly until I sporadically have a crash at about 300 to 600 calls. Unfortunately I don't see much via Logcat and the debugger. However, sometimes I see the following:

**E/fdsan: attempted to close file descriptor 68, expected to be unowned, actually owned by FILE* 0x74d3e14018**

My function:

[cod

[2021-12-15 16:23] kuba-- commented on #217
@Malu007 - I'll take a look. I think I found some possible scenario in miniz, but I'll have to double check it.

[2021-12-17 23:29] kuba-- commented on #217
Question - you don't  use this function in multiple threads, do you?

[2021-12-18 15:18] Malu007 commented on #217
I use it in one Workerthread. Here I open a file, write to it and then close it. And this many times. In another issue I saw that a user  ( @seanbrakefield, #190 ) used Android for testing. So it seems he didn't had the problems i have. I used a Honor8X but i don't think that this is the problem

[2021-12-19 22:58] Malu007 commented on #217
In the meantime I have tried a few things and can say that when write is used instead of append, everything works.

So if I use in my append function the following line:
`struct zip_t* zip = zip_open(zipFileName, compressionLevel, 'a');`
I replace it with this:
`struct zip_t* zip = zip_open(zipFileName, compressionLevel, 'w');`
the app runs without crashing.

Unfortunately, I don't know much about

[2021-12-19 23:27] kuba-- commented on #217
Do you know if it crashes on write or on open?

[2021-12-20 09:54] Malu007 commented on #217
Unclear. Sometimes the app just hangs. Then i see fdsan errors in logcat. The last time my debugger could catch something it was on zip_entry_close. I looked up the stack and saw that in zip.c there is a null value in zip->entry.name when this line is executed:
`entrylen = (mz_uint16)strlen(zip->entry.name);`
strlen with a null was a chance for the debugger to catch that situation. But i think som

[2021-12-20 21:29] Malu007 commented on #217
I would like to express my gratitude for the work that has gone into this library. I have since been able to tinker my way around the problem. In my particular case, it has resulted in no more crashes. Here is my diff:

[code]

To describe it briefly. I took the first time I opened the zip file immediately the mode r+b and not later with reopen. Since I don't know the exact procedure in miniz.h th

[2021-12-21 10:01] visla-dragon opened #218 "can not zip opened file on windows"

[2021-12-21 10:02] #218 closed

[2021-12-21 10:04] appledragon opened #219 "can not zip the opened file on windows"
Hello kuba,

greate thanks for your zip module,  easy to use for all platforms, thumbs up!!  yesterday I upgraded zip to 0.22, and found on windows platform, the opening files can not be zipped into the zip file, and I checked the source code , found _wfopen_s return error 32, so I check the
_wfopen_s api from https://docs.microsoft.com/en-us/cpp/c-runtime-library/reference/fopen-s-wfopen-s?view=m

[2021-12-21 13:05] kuba-- commented on #217
I see your point. Generally you want to get rid of `freopen`. I'll take a closer look into this. In theory it makes sense, but I have to double check that it won't mess up any internal directory etc.

[2021-12-21 13:11] kuba-- commented on #219
I think I can consider wrapping https://github.com/kuba--/zip/blob/72cb23c31122566175e2c599406b266644fb0f99/src/miniz.h#L4836

by some _ifdef_ macro.

[2021-12-22 00:57] appledragon commented on #219
I create a pr, please help to check it , I am not sure it could be acceptable.

https://github.com/kuba--/zip/pull/220

[2021-12-23 06:21] ac2pic opened #221 "Can not use zip_extract inside thread"
I am trying to use `zip_extract` inside a PS4 application. When I test it on the main thread, there are no errors. However, when I test it inside a detached thread, it crashes the entire application. I am using C++11 std::thread.  I am currently not running it in multiple threads.

[2021-12-23 15:46] kuba-- commented on #221
Can you share any parts of your code? If the thread is independent (you alloc and dealloc on the same thread), then it's hard to say where and why it happens.
Any stacktrace, dumped core, ...?

[2021-12-23 15:47] #219 closed

[2021-12-23 22:59] ac2pic commented on #221
Here is the line
https://github.com/Team-Alua/ps4-save-signer/blob/2deb0a9e8f7723f9b776f39d5c3ce73c66412192/ps4-save-signer/cmd_saveextract.cpp#L91

Here is around where I found it to crash:
 https://github.com/kuba--/zip/blob/c30cb27c740a93c681bde8765103c0a0167ecb67/src/zip.c#L283-L292

#
# A user thread receives a fatal signal
#
# signal: 11 (SIGSEGV)
# thread ID: 101881
# thread name:
# proc ID

[2021-12-24 20:14] ac2pic commented on #221
Found a potential fix:
https://github.com/kuba--/zip/blob/c30cb27c740a93c681bde8765103c0a0167ecb67/src/zip.h#L48
Lowering this value to 256 does not cause a crash. So the stack size was the issue.

[2021-12-25 12:24] kuba-- commented on #221
I understand the stack size problem, but it can be related to any data structure in your application. In this case it can be _path buffer_ , but if you change ordering of allocations it can be something else. Moreover, I don't see any direct connections with threads (do you have set up stack size limits for threads?).
Anyway, I totally agree that 32K is too big in most cases, but on the other hand

[2021-12-25 15:51] ac2pic commented on #221
I did not set up a stack size limit. Every relevant case that it crashes, there is an associated line where it reserves well over 1K on the stack. [Here](https://github.com/kuba--/zip/blob/c30cb27c740a93c681bde8765103c0a0167ecb67/src/miniz.h#L1136) is another example.

[2021-12-25 18:18] kuba-- commented on #221
@ac2pic I merged PR, where I reduced MAX_PATH to 1K and BUF_SIZE to 8K.
I hope it works for you, otherwise I suggest to redefine MAX_PATH in your build system.

[2021-12-25 18:20] kuba-- commented on #217
@Malu007 - I analyzed this particular case, and I think getting rid of freopen and changing open mode to `r+b` is totally fine.
Just in case, to keep compatibility in miniz, I've created  new internal functions  for append.
PTAL, I hope it works for you: https://github.com/kuba--/zip/pull/223

It's already merged into the master branch.

[2021-12-25 18:50] ac2pic commented on #221
Okay. Thank you.

[2021-12-25 19:07] #221 closed

[2021-12-29 22:45] #217 closed

[2021-12-29 22:46] kuba-- commented on #217
@Malu007, feel free to reopen the issue, if you can reproduce it on the master branch.

[2021-12-30 08:22] msxfXF opened #224 "How to openzip in memory?"
I need to decrypt the zip before I can open it.
I wonder if I can avoid writing to the temporary file and just read it in memory?

[2021-12-30 17:15] kuba-- commented on #224
@msxfXF look at `README.md` file. It describes most of useful cases.
Just in case:
[code]

[2021-12-30 17:15] #224 closed

[2022-01-06 14:22] bucanero opened #225 "strange file permissions when unzipping a file"
Someone shared a `.zip` file  and I tried unzipping it using `zip_extract(...);` from the zip lib, and the extracted files got really weird file permissions on my macOS file system.

To compare, I used unzip by Info-Zip and I didn't get those strange file permissions on the same .zip file.

Using Info-zip unzip, folder `sce_sys`:
[code]

same file, using `zip_extract` method from zip lib:
[code]

[2022-01-06 16:46] kuba-- commented on #225
@bucanero - definitively there is something weird with this file. For instance  `file last modified on (DOS date/time):          2098 Jan 1 09:06:08`. There is no _Unix file attributes _ (because the files was created on _some_ windows) and `non-MSDOS external file attributes` have awkward values.
Here is what `zipinfo -v` gives me:
[code]

Anyway, I'll take a look, what's going on and how to fix

[2022-01-07 13:01] bucanero commented on #225
Hello @kuba--,

So I was gathering some additional information from the user. The .zip file was actually built with my application (it runs on the PS4) and it uses your `zip` library code. Here's a code snippet that generates a zip from a savegame folder:

[code]

Now, here's an even more weird `.zip` file generated by the same code above:
[00000005.zip](https://github.com/bucanero/apollo-saves/fi

[2022-01-07 16:02] kuba-- commented on #225
Yeah, you are probably right. Most likely `file_stat` gets some _garbage_ from PS4:
[code]

I'll try to fix it by setting some defaults for such cases.

So far, (the safest option) is just reading the file into some buffer and call `zip_entry_write` instead of `_fwrite`. For big files (if you can't read all data) you can call `write` multiple times for opened entry.
Exactly like you can merge 3 fi

[2022-01-07 18:38] RCECoder opened #226 "Is unicode supported?"
Is unicode supported in this library?
Does it work with zipping for eg, Japanese/Chinese file names?
Windows/Visual Studio.

[2022-01-07 23:02] kuba-- commented on #226
just under the hood `wchar_t *str2wstr(const char *str)` function is used in functions like:
`mz_fopen`, `mz_freopen`, `mz_mkdir`

[2022-01-07 23:34] RCECoder commented on #226
Thanks, I tried it and it seems to work fine.

[2022-01-07 23:34] #226 closed

[2022-01-09 01:49] kuba-- commented on #225
@bucanero - I have this PR: https://github.com/kuba--/zip/pull/227
where I ported parts of xattr logic from _zip info_.
It does not solve already compressed files issue, but hopefully it can fix the  problem of setting wrong permissions on `fwrite` or `create`.

Regarding decompression, I don't see any problems in the code which gets `xattr` from archive, however I've added an extra check.

But fo

[2022-01-10 05:41] RCECoder opened #229 "Properly handling files in use and zero-bytes files."
If a file is in use, the `zip_entry_fwrite` will return **ZIP_EWRTDIR -15**
In that case, the file is actually created in the zip archive but with 0 bytes in size.
So how to handle this situation?
I tried calling `zip_entry_close ` then `zip_entries_delete` and I got return value of 1 which means the file with 0 bytes is deleted. However, the next call to `zip_entry_open`/`zip_entry_fwrite`/`zip_e

[2022-01-10 09:05] kuba-- commented on #229
I'm not sure If I fully understand your usecase, but generally You can't call `_open`  twice on already opened entry. Also you can't share zip handler on multiple threads (unless you protect it by some mutex).
If you want to append data to the existing entry, you can open `zip` with `'a'` flag.

[2022-01-10 13:57] RCECoder commented on #229
The file in question is in use by another process and not already called  `_open` twice on it.
eg, an external file that has been opened with `CreateFile` with 0 in sharing mode . Now if use `zip_entry_fwrite ` function on that file, it will be created with 0 bytes size in the archive due to sharing violation.
Then to remove that file in the zip archive, I used `zip_entry_close ` followed by `zip_

[2022-01-10 16:43] kuba-- commented on #229
Ok, I get it.
First of all, `zip_entries_delete` does not physically delete any entries (just mark entries to delete), so you have to call `zip_close` to update _central directory_.
Also to be able delete entries, you should open the archive in `'d'` mode (like in readme example:
[code]
).

[2022-01-10 17:00] RCECoder commented on #229
Yes, I saw the example. But there is no combining of flags like 'w' | 'd'.
It is weird since I got return value of 1 from `zip_entries_delete`. Doesn't that mean the function has deleted 1 entry?
Calling `zip_close `will cause the zip archive to be closed and so another `zip_open` call is required.
Do you mean closing by `zip_close ` then `zip_open ` .. 'd' to delete and then` zip_close` and `zip_

[2022-01-10 19:49] kuba-- commented on #229
You can also try to open with `'a'` and delete and write without closing. I've never tried that way, but the code for opening the archive for delete and appending is the same.

[2022-01-11 02:31] RCECoder commented on #229
No, that causes the same issue of crash whenever next `zip_entry_close ` is encountered. Only by using `zip_close`/`zip_open `with appropriate access it works.
Now I have found another issue and I don't want to open another topic for it.
Files with 0 bytes size if zipped, will make Winrar shows a warning of a corrupted archive if you try to extract that file even though the file extracts fine. Not

[2022-01-11 12:08] kuba-- commented on #229
Yeah, it could be tricky (deleting and appending, especially if you delete and append the same entry).

I'm not sure why winrar shows this warning - is it because the file is really corrupted or just because some entry is an empty file?
What `zipinfo -v` tells you?
If _zip central directory_ is OK (sizes, offsets, checksums are correct), there is nothing wrong to have empty file.
So the question i

[2022-01-11 13:17] bucanero commented on #225
hello @kuba-- , thanks for adding these options on your PR. I'll try it out when I rebuild my ps4 project.

For the record, my quick fix/hack when generating a ZIP was to force regular 644 attributes in `zip_entry_fwrite`. That way every file inside the .zip can be extracted easily without issues later:

[code]

also, to avoid those weird file date timestamps, I defined `#define MINIZ_NO_TIME` on

[2022-01-11 15:05] RCECoder commented on #229
Thanks for the reply.
Here is the output of `zipinfo -v`

[2022-01-11 18:45] RCECoder commented on #229
Thanks.
Just noticed, if someone else runs into my problem, the issue of accessing files opened by `CreateFile` with 0 in `dwShareMode` seems to be solved by defining `ZIP_ENABLE_SHARABLE_FILE_OPEN`

[2022-01-12 22:55] bucanero commented on #225
Quick follow-up; I did some further research and indeed `stat()` is broken on the Open Orbis ps4 sdk, and the devs recommend avoiding stat() and chmod().

Thanks again

[2022-01-12 23:46] kuba-- commented on #225
I can add an extra `ifdef` macro `PS4` to:
https://github.com/kuba--/zip/blob/11cc5c6d300e5734ba8e274a945bd688aae9b1f7/src/zip.c#L382
and/or
https://github.com/kuba--/zip/blob/11cc5c6d300e5734ba8e274a945bd688aae9b1f7/src/zip.c#L1465

So we can close this issue. WDYT?

[2022-01-12 23:55] bucanero commented on #225
yes, that would be nice. I think that at some point the open source ps4 sdk will have proper stat/chmod support, but until then compiling with the `PS4` macro should be enough to avoid the weird behavior. 👍

[2022-01-13 01:34] kuba-- commented on #225
Ok, here you go: https://github.com/kuba--/zip/pull/230

[2022-01-13 20:01] #225 closed

[2022-01-23 17:35] Rajssss opened #231 "Will it work fine on embedded systems?"
Although this looks like but just wanted to make sure, whether it'll work or not in an embedded environment If I have a working fs (littlefs). Let me know your thoughts.

Edit: After a quick test, I found the linker is throwing ftruncate undefined.
My target environment is an esp32 MCU, using an ESP-IDF-based code.
I am using littlefs port for esp32 which can be found here: https://github.com/jolt

[2022-01-23 18:00] Rajssss commented on #231
It seems its the limitation of the port I am using (maybe littlefs itself?), though it supports truncate but not ftruncate.

[2022-01-27 22:12] kuba-- commented on #231
@Rajssss if it's just a matter of adding `ifdef` for `littlefs` or custom implementation for just one `truncate` function, I think it's doable.
Of course, as always - all PRs are welcome.

[2022-01-28 13:34] tansy opened #232 "ISO C90 forbids mixed declarations and code and some other errors"
First try:
[code]
and then whole bunch of errors.

[code]

So I removed `-Werror -pedantic` as, obviously, code does not follow pedantically pedantic rules. This way I was able to compile the library with bunch of warnings though. Some of them are pretty interesting and concerning, I would say. More to that later.

Then it come test with this error:
[code]

Quick solution to that is to ad `-lrt` t

[2022-01-28 22:18] kuba-- commented on #232
What compiler and libc do you use? For instance `-lrt` (realtime extensions library) contains old functions for backward compatibility (which now resides in libc), e.g. `clock_gettime` is in `time.h`.

Changing declaration and/or comments style is doable (of course any PR is welcome), but generally the code which you pointed out has not been changed for a while and nobody had came across similar i

[2022-01-29 01:05] tansy commented on #232
Libc.so.6 says 2.15, slackware.
Gcc 4.7, 4.9, 6.1. Clang 3.8 this one didn't complain about ISO C90, but abut librt yes).
I don't have much problem with that as it afeects tests and these errors only indicate "old fashioned" syntax.

And large file support in 32-bit systems is still open question.

[2022-01-29 03:49] Rajssss commented on #231
truncate is already implemented on IDF side, but truncate isn't.

https://github.com/espressif/esp-idf/issues/8279

[2022-01-29 03:52] Rajssss commented on #231
Thank you for your time and amazing work again @kuba-- I am closing this issue now.
And for my application, I have used miniz directly, but will try to use this one too but later.

[2022-01-29 03:52] #231 closed

[2022-02-03 11:07] 404neko opened #233 "zip library give error file name."
Here is the zip file:
[https://sql.gg/download/79YQ9Yqx-ltqkTMvvdjDColKi1uGBJnQ](https://sql.gg/download/79YQ9Yqx-ltqkTMvvdjDColKi1uGBJnQ)

![Snipaste_2022-02-03_19-04-31](https://user-images.githubusercontent.com/7609492/152331427-b3003ad7-bc23-4c52-b000-1a5afe0ed8ac.png)

[2022-02-03 21:58] kuba-- commented on #233
I cannot download the file (can you attach it here)?

what `zipinfo -v` gives you?

[2022-02-04 08:02] 404neko commented on #233
The zip file is from internet, I can't finger out which software create it, but I know the entry name is encoded by **GBK**
I wish to get the name of entries, so I use zip_entry_name
But I can't get correct result, I view the struct in memory, I found entry name field in zip_t is not correct, one byte is changed.
5C is corrent, but zip library give 2F
When I use Windows 10, zipinfo can't give read

[2022-02-04 08:03] 404neko commented on #233
Here is the zip file

[mod大全.zip](https://github.com/kuba--/zip/files/8001099/mod.zip)

[2022-02-04 08:04] 404neko commented on #233
When I use zip library, What I expect "尤里的陰謀v1.0 " will become "尤里的陰?v1.0 ".

[2022-02-04 16:27] codylico commented on #233
_outsider comment; feel free to ignore:_
Based on [this](https://www.unicode.org/Public/MAPPINGS/VENDORS/MICSFT/WINDOWS/CP936.TXT), it looks like the "謀" character is encoded as the byte sequence `0xD6 0x5C`, which would look like a `?\` to an ASCII-based or UTF-8 based directory separator normalizer. Applying the normalization to `?\` would make `?/`, a broken character in GBK.

@kuba-- Maybe wha

[2022-02-05 00:06] kuba-- commented on #233
@404neko - definitively there is something wrong with this file. Here is what `zipinfo -v` gives me:
[code]

Moreover, when I tried to _unzip it_:
[code]

@codylico - any custom implementation  for particular encoding is not a good idea, but what I can propose is, either use some API with callback function and save file with correct name and/or to convert entry names (on windows) with following he

[2022-02-05 00:09] kuba-- commented on #232
I think there is no problem to add following snippet to cmake file:
[code]

[2022-02-05 04:17] 404neko commented on #233
@kuba--
You certainly can't unzip it because file names are encoding with GBK (not UTF-8), and expected file name contains '?'
May be you can try
[code]
And you also need Chinese font to display characters.

[2022-02-05 04:25] 404neko commented on #233
@codylico
Yes, it is mostly GBK, with just one byte error.

[2022-02-05 04:40] 404neko commented on #233
Oh my god, you are correct

[2022-02-05 04:48] 404neko commented on #233
@kuba--

According to @codylico 's reply,
Here is the source of the bug:

https://github.com/kuba--/zip/blob/e7b792d7c130a0073fca4500f378a0d871999a8b/src/zip.c#L1118-L1125

[code]
it is unsafe, there shoule be a function to get raw entry name, or switch to shutdown this feature.

[2022-02-05 15:47] SuperIlu opened #234 "zip does no longer compile on MS-DOS/DJGPP"
File permissions are not supported on MS-DOS/DJGPP. Please consider adding the following patch:
[code]

[2022-02-06 00:44] kuba-- commented on #233
I'd like to fix this issue, but we have to understand a few caveats.
Based on _ZIP File Format Specification_:
[code]

Because, client can also pass as entry name a relative path (with directories) (so the library will have to reconstruct the hierarchy). BTW. a directory is just an empty _entry_ which ends with `/`.

We can also save a _raw entry name_  in _local header_ as a comment or extra fiel

[2022-02-06 01:23] #234 closed

[2022-02-06 15:43] kuba-- commented on #232
@tansy - Does the current state (on master) work for you?
Do you need `target_link_libraries(${test_write_out} zip rt)`?

[2022-02-07 23:38] #232 closed

[2022-02-10 00:29] kuba-- commented on #233
If `ifdef` _macro_ (e.g. `ZIP_NORMALIZE_ENTRY_NAME=0`) works for you?

[2022-02-10 02:52] 404neko commented on #233
I think it is ok : )

[2022-02-11 01:12] tansy commented on #232
I got what you said about `librt` being in libc now. I can manage without it being "forced" into "main stream".
Out of curiosity, what happens if you have librt functions in libc and still add it to link. Will it link to librt.so or not?

[2022-02-12 16:43] Rickodesea opened #239 "Can a IO version of fwrite and fread be added"
Can IO versions of fwrite and fread be added.  In these cases, the zip library reads/writes directly from/to a file pointer provided directly to it.

An example would be :
[code]

[2022-02-12 18:19] #239 closed

[2022-02-13 23:26] kuba-- commented on #233
ok, so I've quickly added `ZIP_RAW_ENTRYNAME` macro.
PTAL if it works for you: `https://github.com/kuba--/zip/pull/240`

[2022-02-17 23:12] #233 closed

[2022-02-17 23:14] kuba-- commented on #233
@404neko - please feel free to reopen the issue, if current solution does not work for you.

[2022-02-26 18:58] prot0man opened #241 "Segfaults when deleting entries for in memory zip"
When you instantiate a an in memory zip, add a file, then try to remove it, `zip_entries_delete_mark` segfaults.

Looks like when you're doing https://github.com/kuba--/zip/blob/master/src/zip.c#L752 you don't check for if pState->m_pFile is NULL before seeking. I started to create a PULL request fixing that, but looks like there are a few other issues further down the line after deleting a file f

[2022-03-07 22:59] paroj opened #243 "Compile error on android"
- ndk-r21e
- platform-16
[code]

[2022-03-10 00:47] kuba-- commented on #243
Can you check if removing `set(CMAKE_C_STANDARD 90)` from `CMakeLists.txt` fixes the issue?

[2022-03-10 01:21] paroj commented on #243
this is using ogre cmake, which does not set that flag.

according to this:
https://stackoverflow.com/questions/39855672/tensorflow-how-to-compile-libtensorflow-cc-so-for-android

you should rather be using S_IWUSR

[2022-03-11 23:40] kuba-- commented on #243
Yeah, on most platforms this is just an alias, but if it fixes the issue, here you go:
https://github.com/kuba--/zip/pull/244

[2022-03-12 13:19] kuba-- commented on #241
@prot0man -
Could you give some steps to reproduce the issue (deleting entries is pretty fresh-new feature).
Extra checking `pState->m_pFile` is not a big deal, but most likely the problem is somewhere else.

[2022-03-12 22:00] kuba-- commented on #229
@RCECoder -
I think I found a problem with empty entries (already merged PR was here: https://github.com/kuba--/zip/pull/245).

IMO it should fix the problem with _corrupted archive_ with empty entries (with compression level > 0).
But maybe it also fixes the previous issue, where you tried to delete and recreate an entry (without closing the whole archive, e.g.:
[code]

PTAL!

[2022-03-14 02:57] RCECoder commented on #229
Great news!
Yes, I tested and the issue seems to be resolved.
The 0 files are no longer corrupting the archives. However, there maybe a bug if you try to use `zip_entries_delete` with a non-existent file. The crash I got is an exception of `C0000374` which seems to be a heap corruption. Not too important since I added a small line of code which avoids the writing of 0 bytes files in the first plac

[2022-03-17 01:24] #243 closed

[2022-03-24 08:23] ape-casear opened #246 "zip_stream_extract failed with input param of stream (Napi::Buffer<uint32_t>)"
I want to buid a node native addon with zip;

I want to wrap this function "zip_stream_extract" using napi. I tried the following:
[code]

then I get error, error stack like this:

mz_zip_reader_init_mem:
   mz_zip_reader_read_central_dir:
       mz_zip_reader_locate_header_sig:

pZip->m_last_error  is MZ_ZIP_FAILED_FINDING_CENTRAL_DIR

pls help me;

[2022-03-24 08:59] ape-casear commented on #246
Maybe I found the reason;
[code]
I am not a c++ developer, Is there any one can tell me what happened above?

[2022-03-24 09:32] ape-casear commented on #246
found out buf still invalid, buf need to be created by new in my case;  because I actually invoke zip_stream_extract at other place.  close issuse

[2022-03-24 09:32] #246 closed

[2022-04-09 23:24] kuba-- commented on #241
Please reopen the issue, if you can give  some staps to reproduce the issue

[2022-04-09 23:24] #241 closed

[2022-04-09 23:36] kuba-- commented on #229
@RCECoder - I tried to reproduce it, but I could not.
It works as expected, with following code:
[code]

The only way I could get `segmentation fault`  is when I opened the `zip` in `read` mode and tried to delete entries:
[code]

or when I tried to call `zip_entries_delete` without opening `zip`, just:
[code]

[2022-04-10 01:26] evilenzo opened #247 "`zip_entry_openbyindex` takes int as index parameter"
Why? Why not size_t? I just tried to do this:
[code]
And got warning that `zip_entry_openbyindex` takes int. As far as I know index can not be negative....

[2022-04-11 02:52] RCECoder commented on #229
I think you are right. I tried it and got the same result as yours. Therefore, this issue is now resolved.

[2022-04-13 10:33] ag2s20150909 opened #248 "Is there some method to open zip by FileDescriptor"

[2022-04-17 12:30] kuba-- commented on #248
No, only by file name or as a zip stream.

[2022-04-17 12:30] #229 closed

[2022-04-18 21:06] kuba-- commented on #247
`int` is defined everywhere, but `size_t` can be pretty tricky.
Anyway, here is PR: https://github.com/kuba--/zip/pull/249
which may work for you - PTAL.

[2022-04-18 21:06] #248 closed

[2022-04-19 15:15] nosleduc opened #250 "Cannot unzip file on macos 10.14.6"
Hi

I'm testing this library to make zip files that will be read by another application made by someone else.
This application fails to read my zip file.
The zip file can be read with the integrated reader of Windows and also with 7zip.
The integrated zip utility tool of macos is not able to unzip this file.
I have an error like "Unable to expand".

When I'm unzipping the file with the library, th

[2022-04-24 00:11] #247 closed

[2022-04-24 00:15] kuba-- commented on #250
So, let me understand the problem - the library, windows zip tool and 7zip don't have any problems to zip/unzip the file. Only macos zip utility is not able to unzip the file.
Don't you think it's the tool's issue?
Do you have more details, like `zipinfo -v` output?
Can you send the _zip_ file?

[2022-04-25 23:30] #250 closed

[2022-04-25 23:31] kuba-- commented on #250
@nosleduc - Please feel free to re-open the issue, if you have more details to investigate.

[2022-04-26 12:23] nosleduc commented on #250
Yes it works with the integrated zip tool of windows and also with 7zip but not with the integrated zip tool of macos.
It reports me an error and it cannot unzip the file
It may be a problem of the integrated tool of macos but it is not really my issue.

My concern is about an another application made by someone else that tells me that my file cannot be read.
In my application, I can change easily

[2022-04-27 00:15] zeehead commented on #110
Hi @kuba--

so, I'm working on some code using Arduino IDE (2.0.0-rc6) and Blynk library, installed the latest esp32 board package (v 2.0.2).

And my code does compile, but still shows a red underline under the left bracket on

`#include <BlynkSimpleEsp32_BT.h>`

and it says this:

[code]

The path for types.h:

`C:\Users\User\AppData\Local\Arduino15\packages\esp32\tools\xtensa-esp32-elf-gcc\gcc8_

[2022-04-27 20:02] kuba-- commented on #250
Hmm, everything looks fine.
Maybe it's the case related permissions. What operating systems are used? How do you compress the file(s)?

[2022-04-27 20:09] kuba-- commented on #110
@zeehead  - `size_t` is tricky. On most platforms it's defined, but in a different way. But sometimes (very rarely) it's not defined at all. That's why we have the `ifdef` here: https://github.com/kuba--/zip/blob/master/src/zip.h#L37

Anyway, you can give me your platform name (how it's `defined`), so I can add it to the mentioned `ifdef` or you can (as a workaround):
`#define _POSIX_C_SOURCE` bef

[2022-05-03 10:55] Jakz opened #253 "Usage together with minz?"
Hi!
I'm trying to integrate this library as a replacement for zlib which I was currently using to also gain support for archives.

I was using zlib to inflate/deflate raw buffers in memory as I need that feature too, I've been able to replace the calls to minz calls.

When adding this library though, it looks like that, since everything is defined in the header, I get duplicate symbols error at li

[2022-05-03 15:31] kuba-- commented on #253
You can try to compile zip library as  shared library (link it dynamically), but compile miniz into your source.
For example:
[code]

[code]

[code]

[2022-05-05 13:57] rudolfninja opened #254 "Unicode support"
Hey, is it planned to add unicode support for file names and entry names? I tried to modify your code to make it possible create unicode names for entries and add uncicode files, but failed. It seems that the problem is in unicode entry name, but not the file itself.

[2022-05-07 11:05] kuba-- commented on #253
@Jakz - please re-open the issue, if you have any other questions.

[2022-05-07 11:05] #253 closed

[2022-05-07 11:12] kuba-- commented on #254
Frankly, I don't have any plans to extend API with `wchar_t` etc., but you can take a look into the issues, where we discussed how to solve the problem (mainly on windows):

https://github.com/kuba--/zip/issues/39
https://github.com/kuba--/zip/issues/226
https://github.com/kuba--/zip/issues/26

@rudolfninja - if you have any other questions, please re-open the issue.

[2022-05-07 11:12] #254 closed

[2022-05-07 12:09] kuba-- opened #255 "Address potential issues found by infer"
[code]

[2022-05-08 20:46] #255 closed

[2022-05-09 07:29] muyuanjin999 opened #256 "something wrong in linux"
i try to add 3 files（zip.h zip.c miniz.h) in my project to create zip in centos/ubuntu, and i get this
![f15e0d41545a9487ffc67e306418005](https://user-images.githubusercontent.com/64581006/167361114-94223b6e-951d-401a-8e20-f6a11851bbc5.png)
Could someboy tell me how to solve it?Or it cound not work just by adding 3 files?

[2022-05-10 10:53] kuba-- commented on #256
@muyuanjin999 - how do you compile your project?

On Linux, for symlink you need `<unistd.h>`, `S_IF...` are in `<sys/stat.h>`.
Do you have glibc (or any C-standard library headers) installed on your machine?

[2022-05-11 21:24] RCECoder opened #257 "Suggestion: can we have zip_entry_write write as chunks?"
This is not an issue but a suggestion, can we have the function `zip_entry_write` write as chunks? or just another similar function.
As of right now, it writes the whole zip in memory so it's not ideal for huge files.
It would be helpful so that the function can continue in writes with buff+bytesWritten,NumOfBytes
Not sure if that's even possible due to the CRC I think?
Example:
[code]

[2022-05-14 09:34] #256 closed

[2022-05-14 09:39] kuba-- commented on #257
@RCECoder - thanks for the suggestion.
You can always split your file/buffer into chunks and you can merge them as one zip entry, e.g.:
[code]

you can also use `_write` instead of `_fwrite`.

[2022-05-15 01:03] RCECoder commented on #257
Yes, that's exactly what I did in my example by issuing `zip_entry_write` calls in a loop until that large (single file) is zipped. After the loop is done, calling `zip_stream_copy` would actually result in the last chunk zipped only. I think If we have 1 big file, there isn't a way to compress it in memory as chunks as I have seen the CRC check needs the whole file buffer in memory for its calcul

[2022-05-15 01:11] #257 closed

[2022-05-30 13:45] vivkvv opened #258 "Problem with big zip files"
I have big_zip.raw file. It has size ~ 6Gb. Then I zip its and big_zip.zip has size ~ 20 Mb.

The following code does not work:
[code]

zip_entry_read here returns 0

[2022-05-31 11:53] kuba-- commented on #258
@vivkvv - I assume you have just one 6GB entry.
So, my first question is - can you allocate 12 GB? Because, actually this is what you're doing.
`zip_entry_read` allocates memory for you and returns new allocated output buffer and buffer size (look at readme or docs: https://github.com/kuba--/zip/blob/203ef139b0df861fcfd70eca20f8f92925a79846/src/zip.h#L307).

If you want to pre-allocate memory, tha

[2022-06-01 08:08] vivkvv commented on #258
Thanks. Of course, memory leak is my mistake. But real problem is that in function **mz_zip_reader_extract_to_heap** there are the lines
[code]
and the last one returns **4294967295 (0xffffff)**. It is wrong because it is needed to take size from additional fields in this case.
And then function **mz_zip_reader_extract_to_mem_no_alloc** returns an error
[code]

because **buf_size is 4294967295**,

[2022-06-02 22:52] kuba-- commented on #258
Ok, thanks for trouble shooting - looks like 32bit issue. I'll take a look.

[2022-06-04 21:32] kuba-- commented on #258
@vivkvv - I've upgraded some miniz internals, what should fix your problem.
Please take a look PR: https://github.com/kuba--/zip/pull/262 or test your file against the branch:
https://github.com/kuba--/zip/tree/fix-258

[2022-06-05 19:17] vivkvv commented on #258
Thanks. I've checked and it works now.

[2022-06-05 19:17] #258 closed

[2022-06-06 04:34] appledragon opened #263 "A portable (OSX/Linux/Windows), simple zip library written in C"
can be changed to A portable (OSX/Linux/Windows/Android/IOS), simple zip library written in C

I used your library on all platforms, It works well on all platforms, thanks again~~

[2022-06-06 08:38] kuba-- commented on #263
Thanks ;)

[2022-06-06 08:38] #263 closed

[2022-06-17 21:37] HellsCoder opened #265 "When writing file names in Cyrillic, the file is not written"
Hello! I trying to write file to zip with cyrillic symbols

[code]
Archive is empty..

[2022-06-18 23:24] HellsCoder opened #266 "zip_close fails after delete entries"
Clear empty files in archive function, and zip_close after execute function fail

[code]

[2022-06-18 23:30] HellsCoder commented on #266
Modify zip.c for bypass this problem #267

[2022-06-19 11:12] kuba-- commented on #265
We've already discussed utf-8 topic in many threads. Please take a look:
https://github.com/kuba--/zip/search?q=utf-8&type=issues

[2022-06-22 03:17] 19920716 opened #268 "[zip_extract Function] Not supported Chinese in Files Name"
![image](https://user-images.githubusercontent.com/19903385/174935885-7ba0bea1-8c11-4673-9b47-75fe18981801.png)

[2022-06-22 09:48] kuba-- commented on #268
We've already discussed utf-8 topic in many threads. Please take a look:
https://github.com/kuba--/zip/search?q=utf-8&type=issues

[2022-06-24 08:21] parcool commented on #138
Same requirement，I need encryption to!!!

[2022-06-25 20:18] #266 closed

[2022-07-07 14:48] ka5p3rr opened #270 "Buffer overflow in zip.c"
Hi, I have noticed that in the `zip.c` file the condition of `(i < entry_num)` in the AND statements seems to be put into the wrong place resulting in a buffer overflow. It affects lines 695, 700, 709, 762, 768 and 776 as far as I can tell. The condition is checked after accessing the entry arrays, which means the last index is out-of-bounds.

I believe the AND condition should be flipped such tha

[2022-07-07 19:58] kuba-- commented on #270
Thanks, should be fixed, now.

[2022-07-07 19:58] #270 closed

[2022-07-07 20:28] kuba-- commented on #265
This library is based on  https://github.com/richgel999/miniz and we want to keep it compatible is much as possible.
UTF-8 for entry names (and comments) is supported by ZIP spec. if `11 BIT` is set in _general purpose bit flag_. (https://pkware.cachefly.net/webdocs/casestudies/APPNOTE.TXT)
Unfortunately `miniz` checks only encryption bits for _general purpose bit flag_.

So, first we need to add

[2022-07-15 11:03] duckbill007 commented on #182
@kuba-- Hi, it seems that your example has a bug.
For example -we need 1Mb of data, starting from 1024.
Callback gets first chunk of length 32K
In this case we got: len = 1M (at first)
len(1Mb) > size(32K), so len = size.

off = 1024,
and we are trying to memcpy of 32K data from offset 1024 and go outside of source buffer.

[2022-07-18 00:35] kuba-- commented on #182
@duckbill007 - yep, you're right, we need to subtract `off` from the `len`. I've fixed the example ☝🏻.
Thanks.

[2022-07-25 17:31] bucanero opened #271 "zip library name (rename library?)"
Hello

Not sure if it's an issue or a request, but when working in environments where the original `libzip` is also available, there's no clear way to switch between libzip and your minimal `zip` library.

So I was wondering, could you use a different name for your zip library to avoid the duplicate name?

Note: As a personal workaround, I renamed your library to `libkzip.a`, and I use `#include <

[2022-07-26 08:44] kuba-- commented on #271
Frankly speaking, _just renaming the library/project_  - I don't think it's a good idea.
But maybe we can solve your problem in a different way (with some `ifdefs` etc.)
Do you use both libraries at the same time (zlib and zip)? If not how do you want to switch between them?

[2022-07-30 04:57] Limaaron opened #272 "Error when building the release version with MinGW"
If we build a library:
1. ```cmake -G "MinGW Makefiles" -B build```
2. ```mingw32-make```
Work!

But if we build:
1. ```cmake -G "MinGW Makefiles" -B build -DCMAKE_BUILD_TYPE=Release```
2. ```mingw32-make```
It doesn't work :D

[code]

MinGW version:  GNU 11.2.0
OS: Windows 10

[2022-08-02 20:38] kuba-- commented on #271
@bucanero - ☝🏻

[2022-08-02 20:50] bucanero commented on #271
Oh, I missed your reply.

For example, I made an application for the PS Vita, using the open-source [Vita SDK](https://vitasdk.org). The SDK already has cross-compiled libraries, including `zlib` and `libzip`.

`libzip` was too much overhead for my project, so I wanted to use your `zip` library. But the problem is that if I want to `make` and install your library to the SDK default folders (/lib,

[2022-08-02 20:55] kuba-- commented on #271
Maybe you can check if setting `CONFIG_INSTALL_DIR` `INCLUDE_INSTALL_DIR` (from cmake) will work for you.
Otherwise maybe you can those 3 files into your project

[2022-08-02 21:02] kuba-- commented on #272
@Limaaron - PTAL if the fix https://github.com/kuba--/zip/pull/273 works for you

[2022-08-05 10:31] #272 closed

[2022-08-05 10:32] kuba-- commented on #272
We can add some `if-s` for cmake to avoid building with `-Werror` flag.

WDYT?

[2022-08-05 15:28] Limaaron commented on #272
it's possible, but I hope there won't be any problems with it.
in any case, I will let you know if there is ever a problem with this :)

[2022-08-09 13:34] bucanero commented on #271
I'd prefer to avoid bundling the zip files into my code, as I'm using the library on a few different projects, and I like to have a single source for all. (otherwise, I'd have to bundle the zip files with every project)

I'll check `cmake`, but I still feel that your library could be called `kzip` (for example), and it would also help to avoid confusion with the original libzip from https://libzip

[2022-08-15 22:20] Limaaron commented on #272
I found the root of the problem

miniz.h
[code]
windows.h -> winbase.h -> fileapi -> miwindef.h -> #define MAX_PATH 260

zip.c
[code]

this interrupts the definition inside the zip.h MAX_PATH

[2022-08-17 08:27] vivkvv opened #275 "Fortify errors"
**I run Fortify and it returned a long list of problems like that**

[code]

**I wonder should I ignore those errors?**

[2022-08-20 16:02] kuba-- commented on #275
`miniz` is kind of vendor library, so I try not to modify it  very often (unless it's very necessary). Hopefully it can be fixed on https://github.com/richgel999/miniz

[2022-08-20 16:02] #275 closed

[2022-09-06 10:39] Sugar0612 opened #276 "About zip file reading form"
Hello, can you support binary files to read zip, because currently we need a function to get the contents of zip only by reading zip (although it is garbled, but it is also possible), thank you very much and look forward to you 's answer!

[2022-09-07 06:39] #276 closed

[2022-09-08 09:31] Sugar0612 opened #277 "About the zip library cross-platform issue"
Can the zip library be used normally in the android environment like in the windows platform?

[2022-09-08 10:42] Sugar0612 commented on #277
hi guys, I use the zip library here and compile it into a so file and run it on the android platform (the windows platform is no problem), but I found that the zip returned by zip_open(...) is null, I don't know why, do I need to do something in advance on the android platform, or how should I do it?

[2022-09-08 22:47] kuba-- commented on #277
You do not have to do anything special on Android (it's just a Linux kernel OS).
Without any snippet and/or intention what you try to do (zip/unzip, etc.) it's hard to address your issue.

[2022-09-09 01:58] Sugar0612 commented on #277
First of all, thank you for your answer, that is, the .apk I generated (the location of this .apk is in '/storage/emulated/0/.apk') file contains such a piece of code
`struct` zip_t *zip=zip_open("filename", ZIP_DEFAULT_COMPRESSION_LEVEL, 'w');
     if (!zip) {
         std::cerr << "zip is Error!" << std::endl;
         ANDROID_LOG(oss_log, Error, "zip is Error!");
     }
     else {
         std

[2022-09-09 03:23] #277 closed

[2022-09-09 03:23] Sugar0612 commented on #277
Problem solved, thank you~

[2022-10-10 16:08] ArunBViru opened #279 "Created a zip in OSX platform but when java.util.zip is used for unzipping it doesn't work"
Hello,
I created a zip using the awesome kuba-- zip library. Unzipping works fine on Mac OS finder.
But when the zip file is inputted to java program and unzipped using java.util.zip, it crashes as below. BTW java program is executed on Android platform.

Executing task 'MyClass.main()'...

Executing tasks: [MyClass.main()] in project /Users/arun.bv/AndroidStudioProjects/MyApplication

Unzipping t

[2022-10-14 21:28] kuba-- commented on #279
It's hard to say, why your java app cannot unzip archive. Does it work on non-android platform? How about permissions? Maybe because of `ZIP64` is not supported by `java.util.Zip`.

[2022-10-15 07:28] ArunBViru commented on #279
Hello,
Yes. I works well on non-android platform. Only on Android app, it doesn't work. Yes even i think ZIP64 support unavailability.
Anyway we can make zip file generated using Kuba--zip to work on any platforms?

[2022-10-15 12:01] kuba-- commented on #279
As far as I know the library works fine on OSX, Linux, Windows (MSVC and MinGW) and on Android (which is actually linux kernel os.). But we cannot fix java on Android.
Maybe you need to upgrade your JDK on Android or try some older versions of the zip library (e.g. before we upgraded to 0.2.0, for instance: https://github.com/kuba--/zip/releases/tag/v0.1.32)

[2022-10-17 06:56] ArunBViru commented on #279
Hello Kuba,
Thanks for the update on this issue. I will try out the options suggested by You.
BTW, the library is pretty neat and easy to integrate to the project as well. Kudos!

[2022-10-21 07:01] EndrII opened #281 "Failed to build using mingw 11 x64"
Hi. Nice library, but I haw some issues with build on mingw 11 compilers ...

[code]

[2022-10-21 21:42] kuba-- commented on #281
Look at https://github.com/kuba--/zip/issues/272
most likely the same thingy

[2022-10-21 21:42] kuba-- commented on #279
Closing so far.

[2022-10-21 21:42] #279 closed

[2022-10-22 10:03] EndrII commented on #272
This is not works...

This is not a solution. Because disable this validation on the release project may add more issues with app ...

[2022-10-22 10:04] EndrII commented on #281
Yes, but you are not solved this issue... please reopen the #272 issue

[2022-10-22 10:04] #281 closed

[2022-10-25 21:02] kuba-- commented on #281
PTAL if this quick workaround works for you:
https://github.com/kuba--/zip/pull/282

[2022-11-17 01:43] nice23333 opened #283 "Compressing large files that exceed 4GB will fail"
because use _stat function

[2022-11-17 21:36] kuba-- commented on #283
Look at this comment:
https://github.com/kuba--/zip/blob/master/src/miniz.h#L5284

Moreover check how `MZ_FILE_STAT` function  is defined for each platform.
It starts here: https://github.com/kuba--/zip/blob/master/src/miniz.h#L4879

[2022-11-17 21:36] #283 closed